.THIS {
    
}

.THIS.breadcrumbs{
    margin: 24px 0 16px 0;
}

.THIS .button-back{
    cursor: pointer;
    font-size: 24px;
    margin-right: 8px;
}

.THIS .button-next{
    font-size: 16px;
    margin: 0 4px;
    height: 16px;
    line-height: 18px;
}

.THIS .textBreadbrumbs{
    align-items: center;
    color: #767676;
    display: flex;
    font-size: 16px;
    margin-left: 32px;
    height: 23px;
}

.THIS .title{
    align-items: center;
    color: #444444;
    display: flex;
    font-family: SantanderHeadlineW05-Rg;
    font-size: 20px;
    line-height: 28px; 
}

.THIS .icon-arrowRight_big:before{
    color: #444444;
}