.THIS.hidden{
    display:none !important;
}
.THIS .hidden{
    display:none !important;
}
.THIS .integer{
    font-family: inherit !important;
}
.THIS .decimal{
    font-family: inherit !important;
}