/* MODAL FULL SCREEN */
.THIS.modalFullScreen .slds-modal__container {
    min-width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    background-color: #f6f6f6;
    padding: 0px;
}
/* SCROLLBAR */
.THIS ::-webkit-scrollbar {
    width: 6px;
}
.THIS ::-webkit-scrollbar-track {
    border-radius: 10px;
}
.THIS ::-webkit-scrollbar-track-piece {
    background: transparent;
}
.THIS ::-webkit-scrollbar-thumb {
    background: #dadada;
    border-radius: 10px;
}

/* MODAL HEADER */
.THIS.modalFullScreen .slds-modal__header {
    border-bottom: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 0px;
    width: 100%;
    z-index: 15;
    display: flex;
    justify-content: center;
    background-color: #cc0000;
}

.THIS.modalFullScreen .slds-modal__header .row{
    padding-left: 100px;
    margin: 0 auto;
    width: 1440px;
    height: 64px;
    align-items: center;
}

.THIS.modalFullScreen .slds-modal__header .logo-white{
    width: 272px;
    height: 28px;
}

/* MODAL CONTENT */
.THIS.modalFullScreen .slds-modal__content {
    background-color: #f6fafc;
    margin-top: 76px;
    width: 100%;
    height: 100%;
}

.THIS.modalFullScreen .slds-modal__content:last-child {
    box-shadow: none;
}

.THIS.modalFullScreen .slds-modal__content .slds-grid__content{
    padding: 56px 0 0 0; 
    max-width: 808px;
    margin: 0 auto;
}

.THIS.modalFullScreen .footerContact{
    margin-top:343px;
}
.THIS.modalFullScreen .footer{
    margin-top:120px;
}
.THIS.modalFullScreen .footerContact .cFooter, 
.THIS.modalFullScreen .footer .cFooter_Contact{
    display:none;
}


/* TOAST */
.THIS .slds-notify_container {
    padding-top: 108px;
}

.THIS .slds-notify_toast {
    width: 600px;
    min-height: 80px;
    margin: 0;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, 0.08);
}

.THIS .slds-notify__content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.THIS .slds-notify__content .slds-text-heading_small{
    font-family: SantanderMicroText-Bd;
    font-size: 16px; 
    line-height: 1.5; 
    color: #444444;
    margin:0 0 16px 0;
}
.THIS .slds-notify__content p.notifyText { 
    font-family: SantanderMicroText;
    font-size: 16px; 
    line-height: 1.5; 
    color: #444444; 
    margin-bottom:16px;
}

.THIS .slds-notify__content p.notifyText:last-of-type{
    margin-bottom:0;
}

.THIS .slds-notify__content .action{ 
    font-family: SantanderMicroText-Bd;
    font-size: 14px;
    line-height: 1.43;
}

/* ICONOS */
.THIS .slds-notify__close { 
    height: 24px; 
    right:16px;
    top: 16px;
    width: 24px;
}
.THIS .slds-notify__close .slds-button.slds-button_icon {
    display: flex;
    text-decoration: none;
}
.THIS .slds-notify__close .slds-button.slds-button_icon:before {
    font-size: 24px;
}
.THIS .button-selected{
    margin-right:8px;
    pointer-events: none; 
}
.THIS .button-selected:before{
    font-size: 24px;
}
.THIS .slds-notify__content .slds-button.slds-button_icon:before { 
    font-size: 24px;
    margin-right: 8px;
}

/* ERROR TOAST */
.THIS .slds-theme_error { 
    border: solid 1px #990000; 
    background-color: #fcf2f2;  
}

.THIS .icon-warning:before{
   color: #990000; 
}
.THIS .slds-theme_error .icon-close_big:before,
.THIS .slds-theme_error .slds-notify__content button,
.THIS .slds-theme_error .slds-notify__content .slds-button.slds-button_icon:before{ 
    color: #990000;
}

/* CONTACT  */
.THIS .slds-modal__content.activation .slds-grid__content .slds-grid__contact  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TOAST STATIC */
.THIS .slds-notify_container.toast_static {
    padding: 0;
    display: block;
    height: auto;
    position: static;
}
.THIS .toast_static .slds-theme_error { 
    width: 100%;
    box-shadow: none;
}

.THIS .toast_static .slds-theme_error .icon-close_big:before{ 
    display: none;
}

/* MOSTRAR ACTION */
.THIS .slds-theme_error .slds-notify__content button{ 
    display: none; 
}

.THIS .slds-theme_error.action .slds-notify__content button{ 
    display: flex;
    align-self: flex-end;
    align-items: center;
    border: none;
}

/* CONTACT  */
.THIS .slds-modal__content.activation .slds-grid__content .slds-grid__contact  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* PROCESS EXIT */
.THIS .cardProcessExit{
    width: 808px;
    max-width: 808px;
    background-color: transparent;
    border: none;
}
.THIS .cardProcessExit .slds-card__header{
    text-align: center;
    padding: 40px 24px;
    margin: 0;
}
.THIS .cardProcessExit .slds-card__header .slds-text-heading_small{
    font-family: SantanderMicroText-Bd;
    font-size: 14px; 
    line-height: 1.5;
    letter-spacing: normal;
    color: #444444;
}

.THIS .cardProcessExit .slds-card__header .slds-text-heading_small > .slds-button{
    margin-left: 5px;
}

.THIS .slds-button.button_link {
    font-size: 14px;
    line-height: 1.5;
    font-family: "SantanderMicroText";
    color: #ec0000;
}

.THIS .slds-button.button_link .icon_right:before {
    float: right;
    font-size: 24px;
    color: #ec0000;
    margin-left: 4px;
}

.THIS .slds-button.button_link:hover,
.THIS .slds-button.button_link:hover .icon-phone-support:before {
    color: #cc0000;
}