.currencyDropdown_container{
    margin-bottom: 0;
}
.spinnerclass{
    position: relative;
    display: inline-block;
    width: 100%;
    height:300px;
}
.spinnercontainer{
    position : relative;
}
.slds-spinner{
    top : 100px;
}