.THIS.CMPContainer {
    text-align: right !important;
    width: 86%;
    right: 0 !important;
}
.THIS .img {
    margin-left: 2%;
    height:88px;
}
.THIS .Redirect {
	margin-left: 1%;
    font-size:16px;
    width: 150px;
    font-weight: bold;
}