/* CONTAINER */
.THIS.container_browseAccounts {
  width: 1224px /*!important*/;
  margin-top: 24px;
}

.THIS.container_browseAccounts .slds-text-heading_large {
  font-size: 28px;
  line-height: 34px;
  font-family: "SantanderHeadlineW05-Rg";
  color: #444444;
  margin-bottom: 16px;
}

.THIS.container_browseAccounts .slds-text-heading_small {
  font-size: 14px;
  line-height: 20px;
  font-family: "SantanderTextW05-Regular";
  color: #444444;
  margin-bottom: 16px;
}
.THIS.container_browseAccounts .slds-text-heading_small .text-bold {
  font-family: "SantanderTextW05-Bold";
}

/* GRID */
.THIS .cardsAccount-grid .slds-col {
  margin-bottom: 24px;
  margin-right: 24px;
  flex: none;
}

.THIS .cardsAccount-grid .slds-col:nth-child(3n) {
  margin-right: 0;
}

/* PAGINATION */
.THIS .pagination {
  width: 1224px !important;
  justify-content: space-between;
}

.THIS .navigationPage {
  border: none;
  padding: 0;
  align-items: center;
  width: unset !important; /* CPC_PARCHE */
}
.THIS .navigationPage .slds-text-body_regular {
  font-family: "SantanderMicroText-Bd";
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #767676;
  margin-right: 16px;
}

.THIS .navigationPage .slds-text-body_regular strong {
  color: #444444;
  margin-left: 4px;
}

.THIS .navigationPage .button-page {
  font-family: "SantanderMicroText-Bd";
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #ec0000;
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 18px;
}

.THIS .navigationPage .button-page .icon-arrowLeft_big {
  font-size: 16px;
  margin-right: 4px;
}

.THIS .navigationPage .button-page .icon-arrowRight_big {
  font-size: 16px;
  margin-left: 4px;
}

.THIS .navigationPage ul {
  display: flex;
  padding: 0 8px 0 16px;
}

.THIS .infoPage {
  display: flex;
  align-items: center;
}

.THIS .infoPage .slds-text-body_regular {
  font-family: SantanderMicroText-Bd;
  font-size: 12px;
  line-height: 1.42;
  letter-spacing: normal;
  color: #767676;
  margin-left: 16px;
}

/* COMBO */
.THIS .infoPage .slds-combobox {
  position: relative;
}

.THIS .infoPage .slds-combobox .button-order {
  border: 1px solid #deedf2;
  background-color: #ffffff;
  border-radius: 4px 4px 0 0;
  box-shadow: none;
  height: 28px;
  width: 64px;
}

.THIS .infoPage .slds-combobox .button-order .arrow {
  border-left: 1px solid #cedee7;
  bottom: 6px;
  display: inline-block;
  height: 16px;
  position: absolute;
  right: 0;
  top: auto;
  width: 28px;
}

.THIS .infoPage .slds-combobox .button-order .button-arrow {
  font-size: 20px;
  line-height: 20px;
}

.THIS .infoPage .slds-combobox .orderSelected {
  align-items: center;
  border: 0;
  color: #767676;
  display: flex;
  font-size: 12px;
  height: 24px;
  padding: 0 40px 0 10px;
  width: 100%;
  line-height: 1.42;
  font-family: SantanderMicroText;
}

.THIS .infoPage .slds-combobox .slds-dropdown {
  border: 1px solid #deedf2;
  background-color: #ffffff;
  box-shadow: none;
  border-radius: 0 0 4px 4px;
  cursor: pointer;
  left: auto;
  margin-top: 0;
  max-height: 192px;
  max-width: 100%;
  min-width: inherit;
  overflow-y: auto;
  padding: 0;
  right: auto;
  width: 100%;
}
.THIS .slds-text-body_regular {
  margin-bottom: 4px;
}
