.THIS .keypad{
    margin-right:16px;
}

.THIS .modal_authorize .button-page {
	cursor: pointer;
}

.THIS .modal_authorize .slds-button:active {
	border: none;
}

.THIS .modal_authorize .slds-button:focus {
	-webkit-box-shadow: none;
	border: none;
	border-color: inherit;
	box-shadow: none;
	outline: none;
}

.THIS .modal_authorize .icon-close {
	font-size: 24px;
}
.THIS .modal_authorize .icon-close:before {
	color: white;
}
.THIS .modal_authorize .slds-modal__header {
	padding: 16px 0;
}

.THIS .modal_authorize .slds-modal__header .slds-button {
	bottom: -5px;
	right: 2px;
}

.THIS .modal_authorize, 
.THIS .slds-modal__container {
	width: 584px;
	max-width: 584px;
	min-width: 584px;
}

.THIS .modal_authorize .slds-modal__content {
	background-color: #eff6f9;

}

.THIS  .modal_authorize .slds-modal__footer {
	border-top: 1px solid #dadada;
}

.THIS .modal_authorize .slds-modal__header{
	border-bottom: 1px solid #dadada;
}

.THIS .modal_authorize .slds-modal__title {
	color: #444444;
	font-family: "SantanderHeadlineW05-Rg";
	line-height: 28px;
	font-size: 20px;
}

.THIS .modal_authorize .slds-p-around_medium {
	padding: 16px 24px 0 24px;
}

.THIS .modal_authorize .slds-modal__content > p {
	color: #444444;
	font-size: 14px;
	line-height: 1.5;
}

.THIS .modal_authorize .slds-form-element__label {
	width: 120px;
	padding: 0;
	margin: 0 16px 0 0;
	text-align: end;
	font-size: 12px;
	height: 36px;
    line-height: 36px;
	color: #444444;
}

.THIS .modal_authorize .slds-modal__content .slds-form-element{
	display: inline-flex;
	margin-top: 16px;
	margin-bottom: 42px;
}

.THIS .modal_authorize .slds-modal__content .slds-form-element .slds-form-element__control{
	width: 400px;
	
}

.THIS .modal_authorize .slds-modal__content .slds-form-element .slds-form-element__control .slds-textarea{
	background-color:#fff;
    width: 100%;
    min-height:76px;
    border-radius: 4px 4px 0 0;
    box-shadow: inset 0 -1px 0 0 #8dd9de;
    display: inline;
    line-height: 1.5;
    border-width: 0;
    border-style: none;
	transition: none;
	resize: none;
	padding: 8px 16px 0 12px;
}

.THIS .modal_authorize .slds-modal__content .slds-form-element .slds-form-element__control .slds-textarea:focus{
	box-shadow: inset 0 -2px 0 0 #8dd9de;
}

.THIS .slds-textarea::-webkit-scrollbar {
    width: 6px;
}
 
/* Track */
.THIS .slds-textarea::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 5px #dadada;*/
    border-radius: 10px;
}
 
/* Track Piece*/
.THIS .slds-textarea::-webkit-scrollbar-track-piece{
    background:transparent;
}
 
/* Handle */
.THIS .slds-textarea::-webkit-scrollbar-thumb {
    background: #dadada;
    border-radius: 10px;
}

.THIS  .modal_authorize .slds-modal__content .slds-form-element .slds-form-element__control > textarea::placeholder { 
	font-size: 12px;
	color: #444444;
  } 

.THIS  .modal_authorize .slds-modal__footer {
	padding: 16px 24px 16px 0;
}

.THIS  .modal_authorize .slds-modal__footer .slds-button + .slds-button {
	margin-left: 0;
}

.THIS  .modal_authorize .slds-modal__footer .redButtonSmall {
	background-color: #ec0000;
	border: solid 1px #ec0000;
	border-radius: 24px;
	color: #ffffff;
	font-family: "SantanderTextW05-Bold";
	font-size: 14px;
	height: 32px;
	margin: 0;
	width: 86px;
}

.THIS .modal_authorize .slds-modal__footer .redButtonSmall:hover {
	background-color: #cc0000;
	border: solid 1px #ec0000;
	border-radius: 24px;
	color: #ffffff;
	font-family: "SantanderTextW05-Bold";
	font-size: 14px;
	height: 32px;
	margin: 0;
	width: 86px;
}

.THIS .modal_authorize .slds-modal__footer .whiteButtonSmall:focus {
	box-shadow: 0 0 2px 1px #dadada;
}

.THIS .modal_authorize .slds-modal__footer .redButtonSmall:focus {
	box-shadow: 0 0 2px 1px #dadada;
}

.THIS .modal_authorize .slds-modal__footer .whiteButtonSmall {
	background-color: #ffffff;
	border: solid 1px #ec0000;
	border-radius: 24px;
	color: #ec0000;
	font-family: "SantanderTextW05-Bold";
	font-size: 14px;
	height: 32px;
	/*margin-right: 16px;*/
	width: 82px;
}

.THIS .modal_authorize .slds-modal__footer .whiteButtonSmall:hover {
	background-color: #f6f6f6;
	border: solid 1px #ec0000;
	border-radius: 24px;
	color: #ec0000;
	font-family: "SantanderTextW05-Bold";
	font-size: 14px;
	height: 32px;
	/*margin-right: 16px;*/
	width: 82px;
}

.THIS .slds-backdrop {
	background-color: #444444;
}
.THIS .slds-media__body {
	color: #444444;
	display: flex;
	justify-content: flex-end;
}

/* TOOLTIPS DIV*/
.THIS div[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}

.THIS div[data-title]:after {
     background-color: #ffffff;
     bottom: -1.6em;
     border-radius: 5px;  
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px;  
     box-shadow: 1px 1px 2px 0 rgba(68, 68, 68, 0.16), 1px 1px 4px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 2px 0 rgba(68, 68, 68, 0.16), 1px 1px 4px 0 rgba(0, 0, 0, 0.15);  
    -webkit-box-shadow: 1px 1px 2px 0 rgba(68, 68, 68, 0.16), 1px 1px 4px 0 rgba(0, 0, 0, 0.15);  
    color: #444444;
    content: attr(data-title);
    font-family:"SantanderTextW05-Regular";
    font-size:12px;
    height:24px;
    left: 90%;
    opacity: 0;
    padding: 5px 8px 5px 8px;
    position: absolute;
    visibility: hidden; 
    white-space: nowrap;    
    width:auto;
    z-index: 99999;
}

.THIS div[data-title] {
    position: relative;
    
}