.THIS {
}
.THIS.paymentBoxes {
	display: flex;
    justify-content: center;
    margin: 24px 0;
    width: 100%;
}
.THIS.paymentBoxes .slds-grid {
	width: 1224px;
    justify-content: space-between;
}
/* PAYMENTS */
.THIS.paymentBoxes .slds-col {
	display:inline-block;
    margin: 0 16px;
    border: none;
    cursor:pointer;
    line-height: initial;
}
.THIS.paymentBoxes .slds-col:first-child {
    margin-left:0;
}
.THIS.paymentBoxes .line{
    background-color: #cedee7;
    bottom: 0;
    content: "";
    margin: auto;
    height: auto;
    position: absolute;
    top: 0;
    width: 1px;
    margin-top: 10px;
    display: inline-block;
}
.THIS.paymentBoxes .slds-col .number {
    color: #444444;
    display: block;
    font-family:"SantanderHeadlineW05-Rg";
	font-size: 42px;
    line-height: 50px;
}

.THIS.paymentBoxes .slds-col .slds-truncate {
    white-space: inherit;
    display: inline-flex;
    vertical-align: top;
}
.THIS.paymentBoxes .slds-col .text {
    color: #444444;
    display: inline-block;
    font-family: "SantanderMicroText";
    font-size: 12px;
    line-height: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 156px;
}

.THIS.paymentBoxes .slds-col.slds-button:hover .number,
.THIS.paymentBoxes .slds-col.slds-button:hover .text{
	color:#cc0000;
}
.THIS.paymentBoxes .slds-col.slds-button:focus .number,
.THIS.paymentBoxes .slds-col.slds-button:focus .text,
.THIS.paymentBoxes .slds-col.slds-button:active .number,
.THIS.paymentBoxes .slds-col.slds-button:active .text,
.THIS.paymentBoxes .slds-col.slds-button.slds-button-active .number,
.THIS.paymentBoxes .slds-col.slds-button.slds-button-active .text{
	color:#990000;
}