td.status:active {
    box-shadow: inset 0 -1px 0 0 #cedee7;
}

.icon-circle__blue:hover:before,
.icon-circle__blue:focus:before {
    color: #1bb3bc;
}

.icon-circle__red:hover:before,
.icon-circle__red:focus:before {
    color: #c00;
}

.icon-circle__orange:hover:before,
.icon-circle__orange:focus:before {
    color: #fc3;
}

.icon-circle__green:hover:before,
.icon-circle__green:focus:before {
    color: #63ba68;
}

.slds-table th:active,
.slds-table [role='gridcell']:active {
    box-shadow: inset 0 -1px 0 0 #cedee7;
}

.slds-table_striped tbody tr:first-child > td:active {
    box-shadow: inset 0 -1px 0 0 #cedee7, inset 0 1px 0 0 #cedee7;
}