.actions{
    display: flex;
    justify-content: flex-end;
}

.arrow {
    height: 100%;
    margin-left: 4px;
    width: 24px;
    
}  

.blueSeparate{
    color: #8dd9de;
    margin: 0 !important;  
    width:1px;
}

.button-currency { 
    border: transparent;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: inset 0 -1px 0 0 #8dd9de;
    padding-left:12px;
    padding-right:4px;
    height: 36px;
    width: 176px;
} 

.button-currency:focus{
    box-shadow: inset 0 -2px 0 0 #8dd9de;
}

.buttonDown{
    display: flex;
    cursor:pointer;
    justify-content: flex-end;
    margin-left: 28px;
}

.button-download{
    cursor: pointer;
    font-size: 24px;
    padding: 4px 0 4px 4px;
}

.button-order {
    border: transparent;
    border-radius: 4px 4px 0 0;
    box-shadow: inset 0 -1px 0 0 #8dd9de;
    height: 36px;
    width: 48%;
}

.button-order .arrow {
    border-left: 1px solid #d2f0f2;
    bottom: 4px;
    display: inline-block;
    height: calc(100% - 8px);
    position: absolute;
    right: 0;
    top: 4px;
    width: 33px;
}

.button-order .button-arrow {
    font-size: 24px;
    line-height: 28px;
}

.button-order:focus {
    box-shadow: inset 0 -2px 0 0 #8dd9de;
}

.button-order:hover {
    box-shadow: inset 0 -2px 0 0 #8dd9de;
}

.button-selected {
    font-size: 16px;
}

.button-search-open{
    background-color: #eff6f9;
    cursor: pointer;
    font-size: 24px; 
    height: 37px;
    padding: 4px;
    
}

.button-search-open{
    background-color: #eff6f9;
    cursor: pointer;
    font-size: 24px;
    height: 37px;
    padding: 4px;
}

.combo {
    margin-top: 4px;
    min-width: inherit;
    padding: 4px 0;
    width: 176px;   
}

.colFirst{
    margin-right: 32px;
    padding: 0;
}

.colSecond{
    padding: 0;   
}

.cryptoRow .slds-form-element{
    display: flex;
}

.cryptoRow .colFirst{
    width: 100%;
    min-width: 100%;
}

.cryptoRow .slds-form-element__control.paddingInput{
    display: flex;
}

.cryptoRow .button-order{
    width: 177px;
    margin-right: 16px;
}

.lastPillBig{
    margin-left: 16px;
}

.cryptoRow small{
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6a6a6a;
    position: absolute;
    width: 100%;
}

.currencyFormat{
    border-color: #8dd9de;
    padding-right: 66px;
}

.currencySelected {
    align-items: center;
    color: #444444;
    display: flex;
    font-family:"SantanderTextW05-Regular";
    width: 127px;
    height: 26px;
    font-size: 12px;
    border-right: 1px solid #d2f0f2;
} 

.firstRow{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 26px;
}

.THIS.headerTable{
    background-color: transparent;
    margin: 0;
    padding: 16px 24px 0px 24px;
}

.iconArrowMargin{
    margin-top: -15px !important;
    margin-left: -2px;
    padding-left: 3px;
}

.inputLarge{
    width: 368px;
}

.inputXXL{
    
    height: 76px !important;
    line-height: 1.6;
    width: 368px;
}

.iconSize{
    cursor: pointer;
    font-size: 24px;  
}

.inputSize{ 
    height: 36px !important; 
    width: 176px !important;
}

.inputShort{
    height: 36px !important;
    width: 88px !important;
}

.inputText{
    height:26px;
    width:127px;
}

.inputShadow{
    border-radius: 4px;
    box-shadow: inset 0 -1px 0 0 #8dd9de;
    border: none;
    height: 36px;
}

.inputShadow:focus{   
    box-shadow: inset 0 -2px 0 0 #8dd9de;   
}

.lastPill{
    display: flex;
    justify-content: flex-end;
    /* padding-top: 8px; */
}

.label {
    align-items: center;
    color: #444444;
    display: flex;
    font-size: 12px;
    height: 36px;
    margin-right: 16px;
}

.lastRow{
    margin: 0;
}

.marginRow{
    margin-top: 24px;
}

.marginRadioLabel{
    color:#444444;
    font-family:"SantanderTextW05-Regular";
    font-size:12px;
    margin-right:26px;
}

.nameOrder {
    color: #444444;
    font-size: 12px;
}

.noMargin{
    margin-bottom: 0;
}

.optionOrder {
    align-items: center;
    display: inline-flex;
}

.orderSelected {
    align-items: center;
    border: 0;
    color: #444444;
    display: flex;
    font-size: 12px;
    height: 24px;
    padding: 0 33px 0 12px;
    width: 100%;
}

.optionCurrency {
    align-items: center;
    display: inline-flex;
}

.THIS.pillContainer{
    background-color: #eff6f9;
    border: 0px; 
    padding: 16px 64px 18px 54px;
    margin-bottom: 16px;
}

.paddingInput{
    padding: 0;
}

.paddingOption {
    padding: 8px 10px 8px 8px;
}

.redButton{
    border-radius: 24px;
    border: solid 1px #ec0000;
    background-color: #ec0000;
    color: #ffffff; 
    font-size: 14px;
    font-family: "SantanderTextW05-Bold";  
    width: 100px;
    height: 32px;
}

.requireText{
    color: #1bb3bc;
    margin-right:2px;
}

.row{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 26px;
}

.separator{
    border-left-width :  1px solid #000;
}

.slds-combobox.disabled button{
    cursor: not-allowed;
    user-select: none;
}

.slds-combobox.disabled:hover .slds-dropdown{
    display:none;
}

.slds-combobox.disabled .button-order { 
    background: #f6f6f6;
    box-shadow: inset 0 -1px 0 0 #a2a2a2;
}

.slds-combobox.disabled .selectedValue-filled,
.slds-combobox.disabled  .orderSelected{
    color: #a2a2a2;
}

.slds-combobox.disabled .icon-arrowDown_small:before{
    color:#a2a2a2
}

.statusFormat{
    padding-right:38px;
    border-color: #8dd9de;
}

.slds-input:focus{
    box-shadow: inset 0 -2px 0 0 #8dd9de;
}

.slds-input:active{
    box-shadow: inset 0 -2px 0 0 #8dd9de;
} 

.slds-datepicker td.slds-is-selected>.slds-day{
    color: #444444;
    background-color:#bbe9eb;
}

.slds-datepicker{
    background-color: #ffffff;
    border: solid 1px #dadada;
    border-radius: 4px;
    box-shadow: 0 2px 3px 0 rgba(68, 68, 68, 0.24);
    color: #444444;
    text-align: center;
    padding: 16px;  
    width: 304px;
}

.slds-input{ 
    border: transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: inset 0 -1px 0 0 #8dd9de;
    height: 36px;
    font-size: 12px;
    color: #444444;  
}

.slds-input[disabled], 
.slds-input.slds-is-disabled {
    box-shadow: inset 0 -1px 0 0 #a2a2a2;
    background-color: #f6f6f6;
    color: #a2a2a2;
}

.slds-datepicker h2{
    font-family:"SantanderTextW05-Regular";
}

.slds-button__icon{ 
    color:#ec0000;
}

.slds-text-link{
    font-family: "SantanderTextW05-Bold";   
    color:#ec0000;
}

.selectedValue-placeholder {
    color: #a2a2a2;
    font-size: 12px;
}

.selectedValue-filled {
    color: #444444;
    font-size: 12px;
}

.slds-dropdown::-webkit-scrollbar {
    width: 6px;
}

.slds-dropdown::-webkit-scrollbar-track {
    border-radius: 10px;
}

.slds-dropdown::-webkit-scrollbar-track-piece {
    background: transparent;
}

.slds-dropdown::-webkit-scrollbar-thumb {
    background: #dadada;
    border-radius: 10px;
}

.slds-radio {
    display: inline;
}

.slds-select_container:before {
    border-bottom: 5px solid #ec0000;
    top: calc((1.75rem / 2) - 6px);
}

.slds-select_container:after {
    border-top: 5px solid #ec0000;
    bottom: calc((1.75rem / 2) - 6px);
}

.slds-dropdown {
    border: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 3px 0 rgba(68, 68, 68, 0.24);
    left: auto;
    margin-top: 4px;
    max-height: 176px;
    min-width: inherit;
    overflow-y: auto;
    padding: 4px 0;
    right: auto;
    width: 34%;
}

.slds-icon {
    margin-right: 8px;
}

.splitSeparation{
    margin-left: 16px;
    padding: 0 !important;
}

.titleTable{
    color: #444444;
    display: flex;
    font-size: 18px;
    height: 26px; 
}

textarea{
    resize: none;
}

/*  SCROLLBAR PARA textarea PARA CHROME */
.THIS.slds-table--header-fixed_container {
    background-color: #ececec;
    height: 345px;
    position: relative;
    padding-top: 2rem;
    overflow: hidden;
}

/* width */
textarea::-webkit-scrollbar {
    width: 6px;
}

/* Track */
textarea::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 5px #dadada;*/
    border-radius: 10px;
}

/*Track-piece*/
textarea::-webkit-scrollbar-track-piece{
    background:transparent;
}

/* Handle */
textarea::-webkit-scrollbar-thumb {
    background: #dadada;
    border-radius: 10px;
}
/* width */
textarea::-webkit-scrollbar {
    width: 6px;
}

/* Track */
textarea::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 5px #dadada;*/
    border-radius: 10px;
}

/*Track-piece*/
textarea::-webkit-scrollbar-track-piece{
    background:transparent;
}

/* Handle */
textarea::-webkit-scrollbar-thumb {
    background: #dadada;
    border-radius: 10px;
}

.textLabel{
    align-items: center;
    color:#444444;
    display: flex;
    font-size: 12px;
    font-weight:normal;
    justify-content: flex-end;
    height: 36px;
    padding: 0;
    margin-right: 16px;
    text-align:right;
    max-width: 133px;
    min-width: 133px;
    width: 133px;
}

.textHelp{
    font-size: 12px;
    height: 18px;
    padding-left: 12px;
    
}

.whiteButton{
    background-color: #ffffff;
    border-radius: 24px;
    border: solid 1px #ec0000;
    color: #ec0000;
    font-size: 14px;
    font-family: "SantanderTextW05-Bold";
    margin-right: 16px;
    height: 32px;
    width: 96px;
    
}

/*      RADIO BUTTONS       */
.slds-radio_faux {
    background-color: #ffffff;
    border: solid 1px #444444;
    border-radius: 50%;
    box-shadow: none;
    color: #ccecec;
    cursor: pointer;
    height: 20px;
    margin-right: 10px !important;
    position: relative;
    vertical-align: middle;
    width: 20px;
}

input[type=radio]:checked+.slds-radio__label span:first-child {
    border: 1px solid #cc0000;
}

[type="radio"]:checked+.slds-radio__label .slds-radio_faux:after {
    background: #cc0000;
    border-radius: 50%;
    box-shadow: none;
    content: '';
    height: 10px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translated(-50%, -50%, 0);
    width: 10px;
}

.slds-radio_faux:focus{
    box-shadow: 0 0 2px 1px #dadada;
}

.slds-form-element_horizontal:not(.slds-form-element_readonly){
    margin: 0;
}

.radioRow{
    margin-top : 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 32px;
}

.radioLabel{
    align-items: center;
    color: #444444;
    display: flex;
    font-size: 12px;
    font-weight: normal;
    justify-content: flex-end;
    height: 20px;
    margin-right: 16px;
    padding: 0;
    text-align:right;
    width: 136px;   
}

.redButtonBig { 
    height: 32px; 
    border-radius: 24px;
    border: solid 1px #ec0000;
    background-color: #ec0000;
    font-size: 14px;
    font-family: "SantanderTextW05-Bold";
    color: #ffffff;
    margin: 0;
    padding: 5px 20px;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center; 
}

.redButtonBig:hover {
    background-color: #cc0000;
    font-size: 14px;
}

/* TOOLTIPS */
div[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}

div[data-title]:after {
    background-color: #ffffff;
    bottom: -1.6em;
    border-radius: 5px;  
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px;  
    box-shadow: 1px 1px 2px 0 rgba(68, 68, 68, 0.16), 1px 1px 4px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 2px 0 rgba(68, 68, 68, 0.16), 1px 1px 4px 0 rgba(0, 0, 0, 0.15);  
    -webkit-box-shadow: 1px 1px 2px 0 rgba(68, 68, 68, 0.16), 1px 1px 4px 0 rgba(0, 0, 0, 0.15);  
    color: #444444;
    content: attr(data-title);
    font-family:"SantanderTextW05-Regular";
    font-size:12px;
    height:24px;
    left: 90%;
    opacity: 0;
    padding: 4px 8px 6px 8px;
    position: absolute;
    visibility: hidden; 
    white-space: nowrap;    
    width:auto;
    z-index: 99999;
}

div[data-title] {
    position: relative;  
}