.slds-progress-bar {
    height: 4px;
    background-color: #deedf2;
}

.slds-progress-bar__value {
    background-color: #ec0000;
}

.st25{
    width:25%
}
.st50{
    width:50%
}
.st75{
    width:75%
}
.st100{
    width:100%
}