@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?orgId=00D1x0000000tyc&arcf2s');
  src: url('fonts/icomoon.eot?orgId=00D1x0000000tyc&arcf2s#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?orgId=00D1x0000000tyc&arcf2s') format('truetype'), url('fonts/icomoon.woff?orgId=00D1x0000000tyc&arcf2s') format('woff'), url('fonts/icomoon.svg?orgId=00D1x0000000tyc&arcf2s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=icon-], [class*=icon-] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-time:before {
  content: "\e962";
  color: #ec0000;
}

.icon-call-center-DB:before {
  content: "\e961";
  color: #ec0000;
}

.icon-circle-account-user:before {
  content: "\e960";
  color: #ec0000;
}

.icon-signature-pending:before {
  content: "\e95f";
  color: #ec0000;
}

.icon-upload:before {
  content: "\e95e";
  color: #ec0000;
}

.icon-speeches:before {
  content: "\e95d";
  color: #ec0000;
}

.icon-benefitiary:before {
  content: "\e958";
  color: #ec0000;
}

.icon-lightening:before {
  content: "\e959";
  color: #ec0000;
}

.icon-subsidiaries:before {
  content: "\e95a";
  color: #ec0000;
}

.icon-urgent:before {
  content: "\e95b";
  color: #ec0000;
}

.icon-wallet:before {
  content: "\e95c";
  color: #ec0000;
}

.icon-security-block:before {
  content: "\e956";
  color: #ec0000;
}

.icon-security-open:before {
  content: "\e957";
  color: #ec0000;
}

.icon-ok:before {
  content: "\e955";
  color: #ec0000;
}

.icon-phone-support:before {
  content: "\e954";
  color: #ec0000;
}

.icon-circle_check .path1:before {
  content: "\e94f";
  color: rgb(68, 68, 68);
}

.icon-circle_check .path2:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-circle_exclamation .path1:before {
  content: "\e951";
  color: rgb(204, 0, 0);
}

.icon-circle_exclamation .path2:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-circle_exclamation .path3:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-income-expenses:before {
  content: "\e94e";
  color: #ec0000;
}

.icon-reload:before {
  content: "\e94d";
  color: #ec0000;
}

.icon-international-transfer:before {
  content: "\e94b";
  color: #ec0000;
}

.icon-other-payments:before {
  content: "\e94c";
  color: #ec0000;
}

.icon-remove:before {
  content: "\e94a";
  color: #ec0000;
}

.icon-information:before {
  content: "\e949";
  color: #ec0000;
}

.icon-transferPayment:before {
  content: "\e948";
  color: #ec0000;
}

.icon-action:before {
  content: "\e947";
  color: #ec0000;
}

.icon-more:before {
  content: "\e945";
  color: #ec0000;
}

.icon-transfer:before {
  content: "\e946";
  color: #ec0000;
}

.icon-prueba:before {
  content: "\e944";
  color: #ec0000;
}

.icon-print:before {
  content: "\e943";
  color: #ec0000;
}

.icon-warning:before {
  content: "\e942";
  color: #ec0000;
}

.icon-details:before {
  content: "\e941";
  color: #ec0000;
}

.icon-success:before {
  content: "\e940";
  color: #ec0000;
}

.icon-close_big:before {
  content: "\e93f";
  color: #ec0000;
}

.icon-arrowDown:before {
  content: "\e93d";
  color: #ec0000;
}

.icon-arrowUp:before {
  content: "\e93e";
  color: #ec0000;
}

.icon-fx:before {
  content: "\e93b";
  color: #ec0000;
}

.icon-options__empty:before {
  content: "\e93c";
  color: #ec0000;
}

.icon-faq:before {
  content: "\e928";
  color: #ec0000;
}

.icon-filter:before {
  content: "\e939";
  color: #ec0000;
}

.icon-tracking:before {
  content: "\e93a";
  color: #ec0000;
}

.icon-doc103:before {
  content: "\e937";
  color: #ec0000;
}

.icon-docPDF:before {
  content: "\e938";
  color: #ec0000;
}

.icon-docXLS:before {
  content: "\e918";
  color: #ec0000;
}

.icon-timeError:before {
  content: "\e92d";
  color: #ec0000;
}

.icon-timeError__gray:before {
  content: "\e92e";
  color: #b5b5b5;
}

.icon-timeIn:before {
  content: "\e92f";
}

.icon-timeIn__gray:before {
  content: "\e930";
  color: #b5b5b5;
}

.icon-timeOut:before {
  content: "\e931";
}

.icon-timeOut__gray:before {
  content: "\e932";
  color: #b5b5b5;
}

.icon-document:before {
  content: "\e933";
  color: #ec0000;
}

.icon-settings:before {
  content: "\e934";
  color: #ec0000;
}

.icon-trackingSearch:before {
  content: "\e935";
  color: #ec0000;
}

.icon-trash:before {
  content: "\e936";
  color: #ec0000;
}

.icon-question:before {
  content: "\e92a";
  color: #ec0000;
}

.icon-add:before {
  content: "\e900";
  color: #ec0000;
}

.icon-alphabeticalOrderDown:before {
  content: "\e901";
  color: #ec0000;
}

.icon-alphabeticalOrderUp:before {
  content: "\e902";
  color: #ec0000;
}

.icon-arrowDown_big:before {
  content: "\e903";
  color: #ec0000;
}

.icon-arrowDown_small:before {
  content: "\e904";
  color: #ec0000;
}

.icon-arrowLeft_big:before {
  content: "\e905";
  color: #ec0000;
}

.icon-arrowLeft_small:before {
  content: "\e906";
  color: #ec0000;
}

.icon-arrowRight_big:before {
  content: "\e907";
  color: #ec0000;
}

.icon-arrowRight_small:before {
  content: "\e908";
  color: #ec0000;
}

.icon-arrowUp_big:before {
  content: "\e909";
  color: #ec0000;
}

.icon-arrowUp_small:before {
  content: "\e90a";
  color: #ec0000;
}

.icon-calendar:before {
  content: "\e90b";
  color: #ec0000;
}

.icon-caution:before {
  content: "\e90c";
  color: #ec0000;
}

.icon-check:before {
  content: "\e90d";
  color: #ec0000;
}

.icon-check_circle:before {
  content: "\e90e";
  color: #ec0000;
}

.icon-circle__blue:before {
  content: "\e90f";
  color: #1bb3bc;
}

.icon-circle__green:before {
  content: "\e910";
  color: #63ba68;
}

.icon-circle__orange:before {
  content: "\e911";
  color: #fc3;
}

.icon-circle__red:before {
  content: "\e912";
  color: #c00;
}

.icon-close:before {
  content: "\e913";
  color: #ec0000;
}

.icon-close_emptyCircle:before {
  content: "\e914";
  color: #ec0000;
}

.icon-close_filledCircle:before {
  content: "\e915";
  color: #ec0000;
}

.icon-collapse:before {
  content: "\e916";
  color: #ec0000;
}

.icon-copy:before {
  content: "\e917";
  color: #ec0000;
}

.icon-download:before {
  content: "\e919";
  color: #ec0000;
}

.icon-edit:before {
  content: "\e91a";
  color: #ec0000;
}

.icon-expand:before {
  content: "\e91b";
  color: #ec0000;
}

.icon-left:before {
  content: "\e91c";
  color: #ec0000;
}

.icon-mail:before {
  content: "\e91d";
  color: #ec0000;
}

.icon-options:before {
  content: "\e91e";
  color: #ec0000;
}

.icon-orderDown:before {
  content: "\e91f";
  color: #ec0000;
}

.icon-orderUp:before {
  content: "\e920";
  color: #ec0000;
}

.icon-phone:before {
  content: "\e921";
  color: #ec0000;
}

.icon-profile:before {
  content: "\e922";
  color: #ec0000;
}

.icon-prohibited:before {
  content: "\e923";
  color: #ec0000;
}

.icon-refresh:before {
  content: "\e924";
  color: #ec0000;
}

.icon-regeneratePassword:before {
  content: "\e925";
  color: #ec0000;
}

.icon-right:before {
  content: "\e926";
  color: #ec0000;
}

.icon-search:before {
  content: "\e927";
  color: #ec0000;
}

.icon-viewProfile:before {
  content: "\e929";
  color: #ec0000;
}