.THIS.cardContainerHelp {
    margin-bottom: 64px;
    margin-right: 8px;
}

 .THIS.cardContainerHelp .titleHelp{
    color: #444444; 
    font-family: "SantanderHeadlineW05-Rg";
    font-size: 28px;
   	line-height: 34px;
    margin-bottom: 24px;
    margin-top: 24px;
 }
 
 .THIS.cardContainerHelp .slds-card {
    background-color: #ffffff;
    border: 0px;
    border-bottom: 1px solid #cedee7;
    border-radius: 0px;
    min-height: 56px;
    padding: 16px;   
 }

 .THIS.cardContainerHelp .cardExpand .slds-card {
    background-color: #ffffff;
    border: 0px;
    border-bottom: 1px solid #cedee7;
    border-radius: 0px;
    min-height: 56px;
    padding: 0px;
 }

 .THIS.cardContainerHelp .cardExpand header {
    padding: 16px;   
 }

 .THIS.cardContainerHelp div:nth-of-type(2) .slds-card {
    border-top: 1px solid #cedee7;  
 }

 .THIS.cardContainerHelp .containerInformation {
     margin: 0;
     padding: 0;
 }

.THIS.cardContainerHelp .slds-card__header-title {
    color: #444444;
    font-family: "SantanderMicroText-Bd";
    font-size: 16px;
    line-height: 24px;
}

.THIS.cardContainerHelp .slds-card__body_inner{
    border-top: 1px solid #cedee7;
    color: #444444;
    font-family: "SantanderMIcroText";
    font-size: 14px;
    line-height: 21px;
    padding: 16px;
 }

.THIS.cardContainerHelp .slds-card__body_inner p{
    margin-bottom: 16px;
 }

.THIS.cardContainerHelp .slds-card__body_inner ul{
    list-style-type: none;
    padding: 0;
  	margin: 0;
 }

.THIS.cardContainerHelp .slds-card__body_inner li{
    text-indent: -14px;
    padding-left: 30px;
 }

.THIS.cardContainerHelp .slds-card__body_inner li:before {
  content: "•"; 
  padding-right: 8px;
  color: #ec0000;
}
 
.THIS.cardContainerHelp .slds-button__icon {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.THIS.cardContainerHelp .icon-arrowDown_small,
.THIS.cardContainerHelp .icon-arrowUp_small {
    cursor: pointer;
    font-size: 24px;
}

.THIS.cardContainerHelp .bold {
    font-family: "SantanderMicroText-Bd";
}