/* USER DETAILS */
.THIS.slds-card {
    background-color: #ffffff;
    border: solid 1px #ececec;
    border-radius: 4px;
    padding: 16px 24px 16px 24px
}

.THIS .slds-card__header.slds-grid {
	padding:0;
    margin:0;
}

.THIS .slds-card__header-title {
	width:50%;
}

.THIS.slds-card .information {
    color: #444444;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 8px;
}

.THIS.slds-card .name {
    color: #a2a2a2;
    font-size: 12px;
    line-height: 18px;
}

.THIS.slds-card .slds-card__header:last-child .information {
	margin-bottom:0;
}

.THIS .whiteButton {
	background-color: #ffffff;
	border: solid 1px #ec0000;
	border-radius: 24px;
	color: #ec0000;
	font-family: SantanderTextW05-Bold;
	font-size: 14px;
	height: 40px;
	padding: 0 32px;
    margin-top: 24px;
}