.THIS.cardAccount{
    border: solid 1px #cedee7;
    border-radius: 4px;
    margin-bottom: 24px;
    width: fit-content;
}

.THIS.cardAccount .accountAlias .boldText {
    text-decoration: underline;
}
.THIS.cardAccount .accountAlias .boldText:hover {
    color: #990000;
}
.THIS.cardAccount .accountAlias .slds-truncate {
    width: 236px;
    margin-right: 24px;
}
.THIS.cardAccount .availableBalance {
    justify-content: flex-end;
    min-width: 162px;
    text-align: right;
    margin-right: 24px;
}
.THIS.cardAccount .availableBalance .slds-card__header-title {
    color: #767676;
    text-align: right;
}
.THIS.cardAccount .boldText{
    font-family:"SantanderMicroText-Bd";
}
.THIS.cardAccount .bookBalance{
    justify-content: flex-end;
    margin-right: 16px;
    min-width: 162px;
    text-align: right;
}

.THIS.cardAccount .button-arrow{
    cursor: pointer;
    font-size: 24px;
}
.THIS.cardAccount .button-arrow:hover {
    color: #CC0000;
}
.THIS.cardAccount .colFixed{
    align-items: center;
    display: flex; 
}
.THIS.cardAccount .colVariable{
    align-items: center;
    display: flex; 
    justify-content: flex-end;
    width:100%;
}
.THIS.cardAccount .contentAccount{
    border-top: solid 1px #cedee7;
    margin: 0;
    padding: 0;
    height: 74px;
}
.THIS.cardAccount .contentAccount header {
    align-items: initial;
}
.THIS.cardAccount .contentAccount .iconContainer {
    padding-top:16px;
    margin-right: 16px;
}
.THIS.cardAccount .contentAccount .slds-card__header-title{
    color: #444444;
    font-size:14px;
    font-family:"SantanderMicroText";
    line-height: 21px;
}
.THIS.cardAccount .contentAccount .availableBalance .slds-card__header-title {
    color: #767676;
}

.THIS.cardAccount .contentAccount .slds-card__header-title.boldText{
    font-family:"SantanderMicroText-Bd";
}

.THIS.cardAccount .contentAccount .slds-truncate:first-child {
    padding-top: 16px;
}
.THIS.cardAccount .contentAccount .availableBalance, 
.THIS.cardAccount .contentAccount .bookBalance {
    padding-top: 12px;
}
.THIS.cardAccount .contentCard{
    height: 71px;
    margin: 0px;
    padding: 22px 16px 22px 24px;
}
.THIS.cardAccount .country .slds-truncate {
    width: 112px;
    margin-right: 24px;
}
.THIS.cardAccount .currency .slds-truncate {
    width: 32px;
    margin-right: 48px;
}
.THIS.cardAccount .decimals{
    font-size: 14px;
}
.THIS.cardAccount .icon{
    height: 32px;
    width: 32px;
    margin-right: 8px;
}
.THIS.cardAccount .icon-options__empty:before {
    color: #ffffff;
    cursor: pointer;
    font-size:20px;
}
.THIS.cardAccount .icon-tracking{
    cursor: pointer;
    font-size: 24px;
}
.THIS.cardAccount .integer{
    font-size:18px;
    line-height: 27px;
}
.THIS.cardAccount .moreOptions{
    align-items: center;
    background-color: #ec0000;
    display: flex;
    height: 74px;
    justify-content: center;
    margin-right: 16px;
    width: 24px;
    position: relative;
}
.THIS.cardAccount .slds-card__header-title {
    color: #444444;
    font-family:"SantanderMicroText-Bd";
    font-size: 18px;
    line-height: 27px;
}
.THIS.cardAccount .subsidiaryBank .slds-truncate {
    width: 180px;
    margin-right: 24px;
}

.THIS.cardAccount .updated .slds-truncate{
    width: 75px;
    margin-right: 24px;
}
.THIS .slds-card__header-title.availableBalance { 
    color: #767676; 
}
.THIS.cardAccount .eburyAccount{
	display: flex;
}

.THIS.cardAccount .eburySymbol{
	margin-left: 4px;
}

.THIS.cardAccount .icon > .eburySymbol{
    height: 32px;
    width: 32px;
    margin-left: 0;
}