.THIS .emailContact{
    color:#ec0000;
    font-family: "SantanderTextW05-Bold";
    font-size:12px;
    margin-top:8px;
    text-decoration:none;
}

.THIS .emailContact:focus{
   color:#cc0000;
}

.THIS .emailContact:hover{
   color:#cc0000;
}

.THIS .first{
    margin-right:16px;
}

.THIS .icon{
    font-size:32px;
    margin-top:8px;
}

.THIS .icon-mail{
    font-size:32px;
   
}

.THIS .icon-phone{
    font-size:32px;
}

.THIS .phoneNumber{
    color: #ec0000;
    font-family: "SantanderHeadlineW05-Bold";
    font-size:20px;
}

.THIS .slds-card__body{
    display:flex;
    margin: 0px;
    padding: 16px;
}


.THIS .slds-media__figure{
    height:100%;
    margin: 0;
    margin-right:16px;
    margin-top:8px;
    width: 32px;
}

.THIS .slds-size_1-of-2 {
    background-color: #ffffff;
    border: solid 1px #ececec;
    border-radius: 4px;
    height: 114px;
    width: 584px;
}

.THIS .subtitle{
    color:#a2a2a2;
    font-family: "SantanderTextW05-Regular";
    font-size:16px;
}

.THIS .title{
    color:#444444;
    font-family: "SantanderTextW05-Regular";
    font-size: 18px;
}

/* TOOLTIPS */
.THIS div[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}

.THIS div[data-title]:after {
     background-color: #ffffff;
     bottom: -1.6em;
     border-radius: 5px;  
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px;  
     box-shadow: 1px 1px 2px 0 rgba(68, 68, 68, 0.16), 1px 1px 4px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 2px 0 rgba(68, 68, 68, 0.16), 1px 1px 4px 0 rgba(0, 0, 0, 0.15);  
    -webkit-box-shadow: 1px 1px 2px 0 rgba(68, 68, 68, 0.16), 1px 1px 4px 0 rgba(0, 0, 0, 0.15);  
    color: #444444;
    content: attr(data-title);
    font-family:"SantanderTextW05-Regular";
    font-size:12px;
    height:24px;
    left: 90%;
    opacity: 0;
    padding: 4px 8px 6px 8px;
    position: absolute;
    visibility: hidden; 
    white-space: nowrap;    
    width:auto;
    z-index: 99999;
}

.THIS div[data-title] {
    position: relative;  
}