.THIS .decimals{
    font-family:inherit !important;
}

.THIS .integer{
    font-family:inherit !important;
}


.THIS .col1{
    width: 72px !important;
}

.THIS .col2{
    width: 108px !important;
}

.THIS .col3{
    width:197px !important;
}

.THIS .col4{
    width:90px !important;
}

.THIS .col5{
    width: 192px !important;;
}

.THIS .col6{
    width: 112px !important;
}

.THIS .col7{
    width: 96px !important;
}

.THIS .titleWidth{
    width: 350px !important;
}

.THIS .col8{
    padding: 0 !important;
    text-align: right;
    width: 46px !important;  
}

.THIS .bank{
    width:314px !important;
}

.THIS .text{
    background:transparent !important; 
}