.cardAccount {
  border: solid 1px #cedee7;
  border-radius: 4px;
  margin-bottom: 24px;
}

.accountAlias .boldText {
  text-decoration: underline;
}
.accountAlias .boldText:hover {
  color: #990000;
}
.accountAlias .slds-truncate {
  width: 236px;
  margin-right: 24px;
}
.availableBalance {
  justify-content: flex-end;
  min-width: 162px;
  text-align: right;
  margin-right: 24px;
}
.availableBalance .slds-card__header-title {
  color: #767676;
  text-align: right;
}
.boldText {
  font-family: "SantanderMicroText-Bd";
}
.bookBalance {
  justify-content: flex-end;
  margin-right: 16px;
  min-width: 162px;
  text-align: right;
}

.button-arrow {
  cursor: pointer;
  font-size: 24px;
}
.button-arrow:hover {
  color: #cc0000;
}
.colFixed {
  align-items: center;
  display: flex;
}
.colVariable {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.contentAccount {
  border-top: solid 1px #cedee7;
  margin: 0;
  padding: 0;
  height: 74px;
}
.contentAccount header {
  align-items: initial;
}
.contentAccount .iconContainer {
  padding-top: 16px;
  margin-right: 16px;
}
.contentAccount .slds-card__header-title {
  color: #444444;
  font-size: 14px;
  font-family: "SantanderMicroText";
  line-height: 21px;
}
.contentAccount .availableBalance .slds-card__header-title {
  /*aqui*/
  color: #767676;
  font-size: 18px;
  /*font-family:"SantanderMicroText";*/
  line-height: 21px;
}
.contentAccount .bookBalance .slds-card__header-title {
  /*aqui*/
  font-size: 18px;
  line-height: 21px;
}

.contentAccount .slds-card__header-title.boldText {
  font-family: "SantanderMicroText-Bd";
}
.contentAccount .slds-truncate:first-child {
  padding-top: 16px;
}
.contentAccount .availableBalance,
.contentAccount .bookBalance {
  padding-top: 12px;
}
.contentCard {
  height: 71px;
  margin: 0px;
  padding: 22px 16px 22px 24px;
}
.country .slds-truncate {
  width: 112px;
  margin-right: 24px;
}
.currency .slds-truncate {
  width: 32px;
  margin-right: 48px;
}
.decimals {
  font-size: 14px;
  font-family: "SantanderMicroText-Bd";
  box-sizing: border-box;
  color: #767676;
}
.icon {
  height: 32px;
  width: 32px;
  margin-right: 8px;
}
.icon-options__empty:before {
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
}
.icon-tracking {
  cursor: pointer;
  font-size: 24px;
}
.integer {
  font-size: 18px;
  line-height: 27px;
  font-family: "SantanderMicroText-Bd";
  box-sizing: border-box;
  color: #767676;
}
.integerDos {
  font-size: 18px;
  line-height: 27px;
  font-family: "SantanderMicroText-Bd";
  box-sizing: border-box;
  color: #444444;
}

.moreOptions {
  align-items: center;
  background-color: #ec0000;
  display: flex;
  height: 74px;
  justify-content: center;
  margin-right: 16px;
  width: 24px;
  position: relative;
}
.slds-card__header-title {
  color: #444444;
  font-family: "SantanderMicroText-Bd";
  font-size: 18px;
  line-height: 27px;
}
.subsidiaryBank .slds-truncate {
  width: 180px;
  margin-right: 24px;
}
.updated .slds-truncate {
  width: 75px;
  margin-right: 24px;
}
.slds-card__header-title.availableBalance {
  color: #767676;
}

.contextualMenu {
  border: 1px solid #deedf2;
  border-radius: 4px;
  box-shadow: 2px 2px 6px 2px rgba(206, 214, 219, 0.4);
  position: absolute;
  top: 74px;
  left: 0;
  width: 208px;
  padding: 0;
  display: none;
}

.moreOptions {
  align-items: center;
  background-color: #ec0000;
  display: flex;
  height: 74px;
  justify-content: center;
  margin-right: 16px;
  width: 24px;
  position: relative;
}

.country {
  color: #444444;
  font-size: 14px;
  font-family: "SantanderMicroText";
  line-height: 21px;
}

.showDialogs .contextualMenu {
  display: block;
}

.contextualMenu .slds-media__body ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contextualMenu .slds-media__body a {
  color: #444444;
  font-family: "SantanderMicroText";
  font-size: 16px;
  line-height: 24px;
  transition: all 0.2s ease-in-out;
  padding: 12px 16px 12px 16px;
}

.contextualMenu .slds-popover__body {
  padding: 0;
}
