.THIS {
}

.THIS .iconNoResults{
    font-size: 48px;
    padding-top: 40px;
    margin-bottom:8px;
    
}
.THIS .textDescription{
    width: 316px;
    height: 60px;
    font-size: 14px;
    color: #a2a2a2;
    margin-left:415px;
    margin-bottom:24px;
}
.THIS .noResults {
    height: 23px;
    font-family: "SantanderTextW05-Bold";
    font-size: 16px;
    color: #444444;
    margin-bottom: 8px;
}
.THIS .rectangle{
    width: 1184px;
    height: 382px;
    background-color: #ffffff;
}


.THIS .redButton{
    width: 142px;
    height: 32px;
    background-color: #ec0000;
    border-radius: 24px;
    border: solid 1px #ec0000; 
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
   
}

.THIS.slds-card{
    border: 0px;
}