/* INPUT AMOUNT BALANCE */
.inputAmount{
    width: 312px;
    border-radius: 4px;
    height:fit-content;
    z-index: 1;
  }
  .inputAmount .slds-form-element {
     min-height:172px;
 }
  .inputAmount .slds-form-element__label {
    color: #444444;
     font-family: "SantanderMicroText";
     font-size: 12px;
     left: 16px;
     line-height: 18px;
     margin: 0;
     padding: 0;
     position: absolute;
     top: 24px;
     z-index: 2;
  }
  .inputAmount .slds-form-element__label + .slds-form-element__control .slds-input {
    padding: 44px 60px 22px 16px;
  }
  .slds-form-element__control {
     font-size: 0;
     box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.08);
     border-radius: 0 4px 4px 0;
 }
  .inputInformation {
     position:relative;
 }
  .inputAmount .slds-input{
    border: 1px solid #deedf2;
    border-bottom: 1px solid #257fa4;
    border-radius: 4px 4px 0 0;
    color: #444444;
    font-family: SantanderHeadlineW05-Bold;
    font-size: 24px;
    height: 96px;
    line-height: 30px;
    padding: 0 70px 0 16px;
  }
  .inputAmount .slds-input:active,
  .inputAmount .slds-input:focus {
    box-shadow: inset 0 -1px 0 0 #257fa4;
  }
  .inputAmount ::-webkit-input-placeholder { color: #767676; }
  .inputAmount :-moz-placeholder { color: #767676; } 
  .inputAmount ::-moz-placeholder {  color: #767676; } 
  .inputAmount :-ms-input-placeholder { color: #767676; }
  .inputAmount :focus::-webkit-input-placeholder{color:transparent;} 
 
  /*BOX INFORMATION*/
  .slds-form-element__control .slds-box.information {
     border: solid 1px #cedee7;
     border-radius: 2px;
     bottom: 0;
     height: 24px;
     padding: 2px 8px 4px;
     right: 16px;
     min-width: 38px;
     position: absolute;
     bottom: 24px;
 }
  .slds-form-element__control .slds-box.information p{
     color: #444444;
       font-family: "SantanderMicroText";
       font-size: 12px;
       line-height: 18px;
       text-align: center;
 }
 
  /*BOX BALANCE*/
  .inputAmount .slds-box.balance {
     display: flex;
     justify-content: space-between;
     background-color: #eff6f9;
     border: 1px solid #deedf2;
     border-top: none;
     border-radius: 0 0 4px 4px;
     padding: 6px 16px 6px 16px;
     height:48px;
  }
  
  .inputAmount .slds-box.dropdown {
     background-color: #ffffff;
     width:auto;
     min-height: 48px;
     padding: 6px 56px 6px 16px;
  }
  
  .inputAmount .slds-box.balance .slds-text-heading_small {
    font-family: SantanderMicroText;
    font-size: 12px;
    line-height: 18px;
    color: #257fa4;
  }
   .slds-box.balance p.bold {
    font-family: "SantanderMicroText-Bd";
     font-size: 14px;
    line-height: 21px;
    color: #257fa4;
  }
  .inputAmount .slds-box.balance p.small{
    font-family: SantanderMicroText;
    font-size: 12px; 
    line-height: 18px;
    height:18px;
    color: #257fa4;
  }
 
  .inputAmount .slds-box.balance .timeText div.small {
     display:flex;
     align-items: center;
     margin-bottom: 2px;
  }
 
  .inputAmount .timeText .icon-time {
    margin: 0 4px 0 0;
  }
  .inputAmount .timeText .icon-time:before {
    color: #257fa4;
    font-size: 16px;
  }
 
  .inputAmount .slds-box.dropdown .slds-form-element__label{
    position:inherit;
    font-family: SantanderMicroText;
    font-size: 12px;
    line-height: 1.42;
    color: #767676;
  }
  
   .inputAmount .slds-box.dropdown .selectedValue-filled{
    font-family: SantanderMicroText;
    font-size: 16px;
    line-height: 1.5;
    margin-top:-4px;
    color: #444444;
  }
  
  
 /*ERROR*/
  .inputAmount .errorText{
    color: #cc0000;
     font-family: "SantanderMicroText";
     font-size: 14px;
     line-height: 20px;
     margin: 0;
     margin:4px 16px 0px;
     max-width: 568px;
     display: none;
  }
  .error .errorText {
     display: block;
 }
  .inputAmount .error .slds-form-element__label {
    color: #cc0000;
  }
  .inputAmount .error .slds-input{
    border-bottom: 1px solid #cc0000;
  }
  .inputAmount .error .slds-input:active,
  .inputAmount .error .slds-input:focus{
    box-shadow: inset 0 -1px 0 0 #cc0000;
  }
  .input .slds-input  {
     box-shadow: none;
 }
 
 /* INPUTS SINGLE AMOUNT*/
  .slds-form-element.singleAmount {
     display: flex;
     width: fit-content;
     min-height: 124px;
 }
  .slds-form-element.singleAmount .slds-form-element__control {
     height: 96px;
     font-size: 0;
     display: flex;
     box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.08);
     border-radius: 0 4px 4px 0;
 }
  .slds-form-element.singleAmount .slds-form-element__label {
     color: #444444;
     font-family: "SantanderMicroText";
     font-size: 12px;
     left: 16px;
     line-height: 18px;
     margin: 0;
     padding: 0;
     position: absolute;
     top: 24px;
     z-index: 2;
 }
  .slds-form-element.singleAmount .slds-form-element__label + .slds-form-element__control .slds-input {
     padding: 44px 70px 22px 16px;
 }
  .slds-form-element.singleAmount .inputInformation {
     position:relative;
 }
  .slds-form-element.singleAmount .slds-input{
     border: 1px solid #deedf2;
     border-bottom: 1px solid #257fa4;
     border-radius: 4px 0 0 0;
     color: #444444;
     font-family: SantanderHeadlineW05-Bold;
     font-size: 24px;
     height: 96px;
     line-height: 30px;
     padding: 0 70px 0 16px;
     min-width: 392px;
     width: 600px;
 }
 
  .slds-form-element.singleAmount .slds-input:active,
  .slds-form-element.singleAmount .slds-input:focus {
     box-shadow: inset 0 -1px 0 0 #257fa4;
 }
 
  .slds-form-element.singleAmount ::-webkit-input-placeholder { color: #767676; }
  
  .slds-form-element.singleAmount :-moz-placeholder { color: #767676; } 
  
  .slds-form-element.singleAmount ::-moz-placeholder {  color: #767676; } 
  
  .slds-form-element.singleAmount :-ms-input-placeholder { color: #767676; }
 
  .slds-form-element.singleAmount :focus::-webkit-input-placeholder{color:transparent;} 
 
  .slds-form-element.singleAmount .slds-form-element__control .slds-box.information {
     border: solid 1px #cedee7;
     border-radius: 2px;
     bottom: 0;
     height: 24px;
     padding: 2px 8px 4px;
     right: 16px;
     min-width: 38px;
     position: absolute;
     bottom: 24px;
 }
  .slds-form-element.singleAmount .slds-form-element__control .slds-box.information p{
     color: #444444;
       font-family: "SantanderMicroText";
       font-size: 12px;
       line-height: 18px;
       text-align: center;
 }
  .slds-form-element.singleAmount .errorText{
     color: #cc0000;
     font-family: "SantanderMicroText";
     font-size: 14px;
     line-height: 20px;
     margin: 0;
     margin:4px 16px 0px;
     max-width: 568px;
     display: none;
 }
  .slds-form-element.singleAmount .error .errorText {
     display: block;
 }
  .slds-form-element.singleAmount .error .slds-form-element__label {
     color: #cc0000;
 }
  .slds-form-element.singleAmount .error .slds-input{
     border-bottom: 1px solid #cc0000;
 }
  .slds-form-element.singleAmount .error .slds-input:active,
  .slds-form-element.singleAmount .error .slds-input:focus{
     box-shadow: inset 0 -1px 0 0 #cc0000;
 
 }
 
 /* NOTIFICATION */
  .slds-form-element.singleAmount .slds-box.availableBalance {
   /*   box-shadow: inset -1px 1px 0 0 #deedf2, inset -1px -1px 0 0 #deedf2;*/
     background-color: #eff6f9;
     border: 1px solid #deedf2;
     border-left: none;
     border-radius: 0 4px 4px 0;
     height: 96px;
     padding: 16px 16px 12px 16px;
     min-width: 208px;
 }
  .slds-form-element.singleAmount .slds-box.availableBalance .slds-text-heading_small, 
  .slds-form-element.singleAmount .slds-box.availableBalance p {
     font-family: SantanderMicroText;
     font-size: 14px;
     line-height: 1.5;
     color: #257fa4;
 }
  .slds-form-element.singleAmount .slds-box.availableBalance p.bold {
     font-family: "SantanderMicroText-Bd";
 }
  .slds-form-element.singleAmount .slds-box.availableBalance p.small{
     font-family: SantanderMicroText;
     font-size: 12px; 
     line-height: 18px;
 }
  .slds-form-element.singleAmount .timeText {
     display:flex;
     align-items: center;
     margin-top: 8px;
 }
 
  .slds-form-element.singleAmount .timeText .icon-time {
     margin: 0 4px 0 0;
 }
  .slds-form-element.singleAmount .timeText .icon-time:before {
     color: #257fa4;
     font-size: 16px;
 }
 
 /* INPUTS */
 /*
  .slds-form-element.input {
     margin-right:24px;
     width: 392px;
     min-height: 72px;
 }
  .slds-form-element__control .slds-box {
     border: 1px solid #cedee7;
     border-radius: 2px;
     bottom: 0;
     height: 24px;
     margin: 12px 16px;
     padding: 0 8px;
     right: 0;
     top: 0;
     min-width: 39px;
     position: absolute;
 }
  .slds-form-element__control .slds-box p{
     color: #444444;
     font-family: "SantanderMicroText";
     font-size: 12px;
     line-height: 21px;
     text-align: center;
 }
  .slds-form-element__label {
     color: #767676;
     font-family: "SantanderMicroText";
     font-size: 12px;
     left: 16px;
     line-height: 17px;
     margin: 0;
     padding: 0;
     position: absolute;
     top: 6px;
     z-index: 2;
 }
  .slds-form-element__label + .slds-form-element__control .slds-input {
     padding: 19px 70px 5px 16px;
 }
  .slds-input{
     border: 1px solid #deedf2;
     border-bottom: 1px solid #257fa4;
     border-radius: 4px 4px 0 0;
     color: #444444;
     font-family: "SantanderMicroText";
     font-size: 16px;
     height: 48px;
     line-height: 24px;
     padding: 0 70px 0 16px;
     min-width: 392px;
 }
  .slds-input:active,
  .slds-input:focus {
     box-shadow: inset 0 -1px 0 0 #257fa4;
 }
  .slds-form-element__help {
     color: #767676;
     font-family: "SantanderMicroText";
     font-size: 14px;
     line-height: 20px;
     margin-left: 16px;
     margin-top: 0;
 }*/
 /* ERROR INPUT */
 /*
  .error .slds-form-element__help {
     display: none;
 }
  .errorText{
     color: #cc0000;
     font-family: "SantanderMicroText";
     font-size: 14px;
     line-height: 20px;
     margin: 0px;
     margin-left: 16px;
     display: none;
 }
  .error .errorText {
     display: block;
 }
  .error .slds-form-element__label {
     color: #cc0000;
 }
  .error .slds-input{
     border-bottom: 1px solid #cc0000;
 }
  .error .slds-input:active,
  .error .slds-input:focus{
     box-shadow: inset 0 -1px 0 0 #cc0000;
 }
 */
 /* DISABLED INPUT */
 /*
  .slds-input[disabled] {
     background-color: #ffffff;
     border: solid 1px #cccccc;
     border-bottom: solid 1px #9bc3d3;
     color: #767676;
 }
  .slds-input[disabled] + .slds-box {
     cursor: not-allowed;
 }
  .slds-input[disabled]:active, 
  .slds-input[disabled]:focus {
     box-shadow: none;
     border-bottom: solid 1px #9bc3d3;
 }
 
  ::-webkit-input-placeholder { color: #767676; }
  
  :-moz-placeholder {  color: #767676; } 
  
  ::-moz-placeholder { color: #767676; } 
  
  :-ms-input-placeholder { color: #767676; }
 
  :focus::-webkit-input-placeholder{color:transparent;}
 */