/* BUTTON CONTINUE */
.THIS .slds-modal__footer {
	border-top: none;
    width: 808px;
    box-shadow: none;
    padding: 0px;
    background-color: inherit;
    margin: 0px;
    margin-top: 40px;
}

.THIS .slds-media__footer {
    display: flex;
    outline: none;
}