.THIS {
}
/*
.THIS .modalStyle_aux{
    height: 100%;
    min-height: 40rem;
    max-height: 35rem;
}*/

.THIS .slds-is-relative {
    min-height: 4rem;
}
 /*
.THIS.slds-modal {
    z-index: 95 !important;
}
 
.THIS.slds-backdrop {
    z-index: 90 !important;
}*/