/*{
    margin: 32px 0 16px 0;
  }*/
  
   .title {
    color: #444444;
    font-family: SantanderHeadlineW05-Rg;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    height: 29px;
    line-height: normal;
    letter-spacing: normal;
    margin: 32px 0 16px 0;
  }
  
   .actions{
      display: flex;
      justify-content: flex-end;
  }
  
   .button-add{
      cursor: pointer;
      font-size: 24px;
      padding: 4px 0 16px 8px;
  }
  
   .button-download{
      cursor: pointer;
      font-size: 24px;
      padding: 4px 8px 16px 8px;
  }
  
   .button-search{
      cursor: pointer;
      font-size: 24px;
      padding: 4px 8px 16px 16px;
  }
  
   .button-search__open{
      background-color: #eff6f9;
      cursor: pointer;
      font-size: 24px;
      padding: 4px 8px 16px 16px;
  }
  
  .container{
      background-color: transparent;
      margin: 0;
      padding: 0 24px 0 0;
  }
  
   .text{
      color: #444444;
      display: flex;
      font-size: 14px;
      height: 30px; 
  }