.contentPayments {
   /* position: absolute;*/
    left: 0;
    margin-top: -24px;
    width: 100%;
    /*padding-bottom: 120px;*/
}
.contentPayments .contentPag{
    margin:0 auto;
    width: 1224px;
}

 .paymentBoxes {
    padding-top: 202px;
    margin-top: 0;
}