.THIS.paymentType-container {
    width: 808px;
}

.THIS.paymentType-container .slds-text-heading_large {
    font-size: 36px;
    line-height: 43px;
    font-family: "SantanderHeadlineW05-Rg";
    color: #444444;
    margin-bottom: 40px;
}

.THIS .paymentType-grid .slds-col {
    margin: 0;
    margin-right: 24px;
    margin-bottom: 24px;
    flex: none;
}

.THIS .paymentType-grid .slds-col:nth-child(2n) {
    margin-right: 0;
}

.THIS .cardPayment {
    width: 392px;
    min-height: 272px;/*9814: añdadir esta linea*/
    border-radius: 4px;
    box-shadow: 2px 2px 6px 2px rgba(206, 214, 219, 0.4);
    border: 1px solid #cedee7;
    background-color: #ffffff;
    padding: 40px;
}

.THIS .cardPayment.otherPayment {
    padding-top: 56px;
}

.THIS .cardPayment.otherPayment .slds-card__header .slds-media__figure{
   margin: 0 8px 0 0;
   height: 32px;
}

.THIS .cardPayment.otherPayment .slds-card__header .slds-media__figure .icon:before{
   font-size: 32px;
   color: #257fa4;
}

.THIS .cardPayment .slds-card__header {
	margin: 0 0 30px 0; /*9814: añadir 30px en vez de 32px*/
    padding: 0;
}

.THIS .cardPayment .slds-card__header header {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.THIS .cardPayment .slds-card__header .slds-media__figure {
	margin: 0 0 16px 0;
    height: 48px;
}

.THIS .cardPayment .slds-card__header .slds-media__body {
	width:312px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.THIS .cardPayment .slds-card__header .slds-media__figure .icon:first-child,
.THIS .cardPayment .slds-card__header .slds-media__body .slds-card__header-title:first-of-type,
.THIS .cardPayment .slds-card__header .slds-media__body .card_subtitle:first-of-type {
	display: block;
}
.THIS .cardPayment .slds-card__header .slds-media__figure .icon:before {
    font-size: 48px;
    color: #257fa4;
}

.THIS .cardPayment .slds-card__footer {
    display: flex;
    justify-content: center;
 	margin: 0;
    padding: 0;
    border: none;
}

.THIS .cardPayment .slds-card__footer .slds-button {
    min-width: 104px;
}

.THIS .cardPayment .slds-card__footer .slds-button +.slds-button {
    margin-left: 24px;
}

.THIS .cardPayment .slds-card__header-title {
    font-family: "SantanderHeadlineW05-Bold";
    font-size: 20px;
    line-height: 28px;
    color: #444444;
    text-align:center;
}

/*9814: borrar .THIS .cardPayment .card_subtitle  */
/*9814: añadir  .cardPayment .slds-card__header-title  */
.THIS .cardPayment .slds-card__header-title {
	height:56px;
}
/*9814: añadir  .cardPayment.otherPayment .slds-card__header-title */
.THIS .cardPayment.otherPayment .slds-card__header-title {
	height: auto;
}
.THIS .cardPayment .card_subtitle { 
text-align:center;
} 
.THIS .cardPayment.otherPayment .slds-card__header.slds-grid { 
max-width: 312px; 
} 
.THIS .cardPayment.otherPayment .slds-card__header .slds-media__body { 
width:auto; 
}

.THIS .cardPayment.otherPayment .slds-card__header {
    margin-bottom: 0;
}

.THIS .cardPayment.otherPayment .slds-card__body {
    display: block;
    max-height: 48px;
    margin: 32px 0 38px 0;
    overflow: visible;
}

.THIS .cardPayment.otherPayment .slds-card__footer {
    display: none;
}

.THIS .cardPayment.otherPayment > .slds-card__header.slds-grid,
.THIS .cardPayment.otherPayment > .slds-card__header.slds-grid .slds-media{
   justify-content: center;
}
.THIS .cardPayment.otherPayment > .slds-card__header.slds-grid .slds-has-flexi-truncate{
    flex: inherit;
}
.THIS .cardPayment.otherPayment .slds-card__header header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.THIS .dropdown .slds-form-element__label {
    color: #767676;
    font-family: SantanderMicroText;
    font-size: 12px;
    left: 16px;
    line-height: 17px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 6px;
    z-index: 2;
}

.THIS .dropdown .button-order {
    display: flex;
	border: 1px solid #deedf2;
	background-color:#f6fafc;
	border-radius: 4px 4px 0 0;
	box-shadow: inset 0 -1px 0 0 #257fa4;
	height: 48px;
	width: 100%;
}

.THIS .dropdown .button-order .button-arrow {
	font-size: 24px;
}

.THIS .dropdown .button-order:focus {
	box-shadow: inset 0 -2px 0 0  #257fa4;
}

.THIS .dropdown .button-order:hover {
	box-shadow: inset 0 -2px 0 0  #257fa4;
}

.THIS .dropdown .slds-dropdown {
	box-shadow: inset 0 -1px 0 0 #cedee7;
	background-color:#f6fafc;
	border-top: none;
	border-right: 1px solid #deedf2;
	border-left: 1px solid #deedf2;
	border-bottom: 1px solid #257fa4;
	border-radius: 0 0 4px 4px;
	cursor: pointer;
	left: auto;
	margin: 0;
	max-width: 100%;
    min-width: inherit;
    overflow: hidden;
	padding: 0;
	right: auto;
	top: 48px;
    width: 100%;
    z-index: 3;
}

.THIS .dropdown .slds-dropdown ul {
   overflow-y: auto;
   max-height: 192px;
   margin: 6px 0 6px 5px;
}

.THIS .dropdown .slds-button__icon {
	width: 24px;
	height: 24px;
	margin: 12px 16px;
}

.THIS .dropdown .optionOrder {
	align-items: center;
	display: inline-flex;
    line-height: 24px;
}

.THIS .dropdown .dropdownOrder .slds-dropdown__item > a:hover,
.THIS .dropdown .dropdownOrder .slds-dropdown__item > a:active,
.THIS .dropdown .dropdownOrder .slds-dropdown__item > a:focus {
    border-radius: 4px;
	background-color:#e5f1f5;
    margin-right: 5px;
}

.THIS .dropdown .dropdownOrder .slds-dropdown__item > a {
	padding:0 12px;
	font-size: 16px;
	font-family: "SantanderMicroText";
	color: #444444;
    height: 36px;
    line-height: 36px;
    width:100%;
}

.THIS .dropdown .dropdownOrder .slds-dropdown__item {
	height:48px;
    display: flex;
    align-items: center;
}

.THIS .dropdown .dropdownOrder .slds-dropdown__item:first-child {
	margin-top:0;
}

.THIS .dropdown .dropdownOrder .slds-dropdown__item:last-child {
	margin-bottom:0;
}

.THIS .dropdown .dropdownOrder .optionOrder .slds-form-element__label {
	margin: 0 ;
	font-family: "SantanderMicroText";
	font-size: 16px;
	line-height: 24px;
	color: #444444;
}

.THIS .dropdown .slds-border_right {
	font-family: "SantanderMicroText";
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    border: 0;
    display: flex;
 	padding: 0 48px 0 16px;
    width: 100%;
}

.THIS .dropdown .slds-border_right.selectedValue-placeholder {
    color: #767676;
}

.THIS .dropdown .selectedValue-filled {
	color: #444444;
    display: block;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.THIS .dropdown .slds-form-element__label + .slds-combobox .slds-dropdown-trigger_click .button-order .slds-border_right {
    padding: 19px 0px 5px 16px;
}

.THIS .dropdown .slds-dropdown ul::-webkit-scrollbar {
	width: 6px;
}

.THIS .dropdown .slds-dropdown ul::-webkit-scrollbar-track {
	border-radius: 10px;
}

.THIS .dropdown .slds-dropdown ul::-webkit-scrollbar-track-piece {
	background: transparent;
}

.THIS .dropdown .slds-dropdown ul::-webkit-scrollbar-thumb {
	background: #dadada;
	border-radius: 10px;
}

.THIS .error .slds-form-element__help {
	display: none;
}

.THIS .slds-form-element .errorText {
    color: #cc0000;
    font-family: "SantanderMicroText";
    font-size: 14px;
    line-height: 20px;
    margin: 0px;
    margin-left: 16px;
    display: none;
}

.THIS .slds-form-element.error .errorText {
	display: block;
}

.THIS .error .errorText {
    display: block;
}

.THIS .error .slds-form-element__label {
	color: #cc0000;
}

.THIS .error .slds-form-element__control .slds-input,
.THIS .error .slds-combobox .button-order,
.THIS .error .slds-form-element__control .slds-textarea {
	border-bottom: 1px solid #cc0000;
    box-shadow: none;
}

.THIS .error .slds-form-element__control .slds-input:active,
.THIS .error .slds-form-element__control .slds-input:focus,
.THIS .error .slds-combobox .button-order:active,
.THIS .error .slds-combobox .button-order:focus,
.THIS .error .slds-combobox .button-order:hover,
.THIS .error .slds-form-element__control .slds-textarea:active,
.THIS .error .slds-form-element__control .slds-textarea:focus {
	box-shadow: inset 0 -1px 0 0 #cc0000;
}

.THIS .slds-input[disabled] {
	background-color: #ffffff;
    border: solid 1px #cccccc;
    border-bottom: solid 1px #9bc3d3;
    cursor: not-allowed;
    color: #767676;
}

.THIS .slds-input[disabled] + .slds-button,
.THIS .slds-textarea[disabled] + .slds-button {
	cursor: not-allowed;
}

.THIS .slds-input[disabled]:active, 
.THIS .slds-input[disabled]:focus {
    box-shadow: none;
    border-bottom: solid 1px #9bc3d3;
}

.THIS .dropdown .button-order[disabled] .button-arrow.icon-arrowDown_small:before,
.THIS .dropdown .button-order[disabled] .button-arrow.icon-arrowUp_small:before {
	color: #cccccc;
}

.THIS .dropdown .button-order[disabled],
.THIS .slds-textarea[disabled] {
	background-color: #f6f6f6;
    border: solid 1px #cccccc;
    border-bottom: solid 1px #9bc3d3;
    cursor: not-allowed;
    box-shadow: none;
    color: #767676;
}

.THIS .dropdown .button-order[disabled] .selectedValue-filled {
	color: #767676;
}

.THIS .dropdown .button-order[disabled]:hover,
.THIS .slds-textarea[disabled]:hover {
    box-shadow: none;
}

.THIS .dropdown .button-order[disabled]:active, 
.THIS .dropdown .button-order[disabled]:focus,
.THIS .slds-textarea[disabled]:active,
.THIS .slds-textarea[disabled]:focus {
    box-shadow: none;
    border-bottom: solid 1px #9bc3d3;
}

/* RED LABEL */
.THIS .cardPayment{
    position: relative;
}
.THIS .redLabel {
    position: absolute;
    z-index: 100;
    top: 24px;
    left: 280px;
}
.THIS .redLabel > div{
    width: 119px;
    height: 32px;
    border-radius: 2px 2px 0 2px;
    background-color: #ec0000;
    padding: 6px 16px;
    position: relative;
}

.THIS .redLabel > div span{
    font-family: "SantanderMicroText-Bd";
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
}

.THIS .redLabel > div:after{
    content: "";
    position: absolute;
    right: 0;
    bottom: -5px;
    width: 8px;
    height: 5px;
    border-left: 8px solid #990000;
    border-bottom: 5px solid transparent;
}

.THIS .cardPayment .redLabel {
    display: none;
}

/* CARD DISABLED */
.THIS .cardPayment.card_disabled{
    box-shadow: none;
}

.THIS .cardPayment.card_disabled .redLabel{
    display: block;
}

.THIS .cardPayment.card_disabled .slds-card__header .slds-media__figure .icon:before,
.THIS .cardPayment.card_disabled .slds-card__header-title,
.THIS .cardPayment.card_disabled .card_subtitle{
    color: #767676;
}

.THIS .cardPayment.otherPayment.card_disabled .slds-combobox .slds-dropdown{
    display: none;
}

.THIS .primary.button_disabled,
.THIS .secondary.button_disabled {
    background-color: #ffffff;
	box-shadow: inset 0 0 0 1px #cccccc;
	color: #767676;
    cursor: auto;
}