/* GRID */
 .sixAccounts .cardsAccount-grid .slds-col {
    margin-bottom: 24px;
    margin-right: 24px;
    flex: none;
}

 .sixAccounts .cardsAccount-grid .slds-col:nth-child(2n) {
    margin-right: 0;
}

 .sixAccounts .cardsAccount-grid .slds-col:last-child,
 .sixAccounts .cardsAccount-grid .slds-col:nth-last-child(2) {
    margin-bottom: 0;
}

.slds-text-title {
    font-size: 18px;
    line-height: 1.5;
    font-family: "SantanderMicroText-Bd";
    color: #444444;
    margin-bottom: 16px;
}