.button-combo {
  border: transparent;
  border-radius: 4px 4px 0 0;
  box-shadow: inset 0 -1px 0 0 #8dd9de;
  height: 28px;
  width: 72px;
}

.button-combo:hover {
  box-shadow: inset 0 -2px 0 0 #8dd9de;
}

.button-pageLeft {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  margin-right: 4px;
}

.button-pageRight {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  margin-left: 4px;
}

.button-selected {
  font-size: 16px;
}

.containerCombo {
  display: flex;
  justify-content: flex-end;
}

.container {
  height: 100%;
  width: 100%;
}

.dropdown {
  border: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 3px 0 rgba(68, 68, 68, 0.24);
  left: auto;
  margin-top: 4px;
  max-height: 176px;
  min-width: inherit;
  overflow-y: auto;
  padding: 4px 0;
  right: 0;
  width: 72px;
}

.iconMargin {
  margin-right: 8px;
}

.nameOption {
  color: #444444;
  font-size: 12px;
}

.navigationPage {
  display: flex;
  justify-content: flex-end;
  margin-left: 24px;
  text-align: right;
}

.number__black {
  align-items: center;
  background-color: white;
  border-radius: 50%;
  color: #444444;
  cursor: pointer;
  display: flex;
  font-family: "SantanderHeadlineW05-Bold";
  font-size: 12px;
  height: 24px;
  justify-content: center;
  width: 24px;
}

.number__gray {
  align-items: center;
  border-radius: 50%;
  color: #a2a2a2;
  cursor: pointer;
  display: flex;
  font-family: "SantanderTextW05-Bold";
  font-size: 12px;
  height: 24px;
  justify-content: center;
  width: 24px;
}

.option {
  align-items: center;
  display: inline-flex;
}

.optionSelected {
  align-items: center;
  border-right: 1px solid #d2f0f2;
  color: #a2a2a2;
  display: flex;
  font-size: 12px;
  height: 20px;
  padding: 0px 12px 0px 12px;
  width: 70px;
}

.paddingOption {
  padding: 8px 10px 8px 8px;
}

.pagination {
  background-color: #dadada;
  height: 40px;
  margin: 0;
  padding: 0 30px 0 24px;
}

.results {
  align-items: center;
  color: #444444;
  display: flex;
  font-size: 12px;
  height: 18px;
}

.label {
  align-items: center;
  color: #444444;
  display: flex;
  font-size: 12px;
  margin-right: 16px;
}

/* SCROLL */
.slds-dropdown::-webkit-scrollbar {
  width: 6px;
}

.slds-dropdown::-webkit-scrollbar-track {
  /*box-shadow: inset 0 0 5px #dadada;*/
  border-radius: 10px;
}

.slds-dropdown::-webkit-scrollbar-track-piece {
  background: white;
}

.slds-dropdown::-webkit-scrollbar-thumb {
  background: #dadada;
  border-radius: 10px;
}

.orderSelected {
  width: 72px;
}

.button-order {
  height: 28px;
}

.button-order .button-arrow {
  line-height: 23px;
}
