.decimals{
    font-family:inherit !important;
}

 .integer{
    font-family:inherit !important;
}


 .col1{
    width: 72px !important;
}

 .col2{
    width: 108px !important;
}

 .col3{
    width:197px !important;
}

 .col4{
    width:90px !important;
}

 .col5{
    width: 192px !important;;
}

 .col6{
    width: 112px !important;
}

 .col7{
    width: 96px !important;
}

 .titleWidth{
    width: 350px !important;
}

 .col8{
    padding: 0 !important;
    text-align: right;
    width: 46px !important;  
}

 .bank{
    width:314px !important;
}

 .text{
    background:transparent !important; 
}