.THIS {
}

.THIS .tab{
    text-align:center;
    width: 148px;
    height: 40px;
    box-shadow: inset 0 -1px 0 0 #cccccc;  
    font-size:12px;
   color:#a2a2a2;
   
}
.THIS .slds-tabs_default__item::hover{
    box-shadow: none;
    background-color:transparent;
}
.THIS .slds-tabs_default__item::focus{
    box-shadow: none;
}

.THIS .slds-is-active{
    box-shadow: inset 0 -2px 0 0 #ec0000 ;
    background-color: #ffffff;  
    font-family: "SantanderTextW05-Bold";
     color:#444444 !important;
    
}
.THIS.slds-tabs_default {
    background-color: transparent !important;
}
.THIS.slds-tabs_default__link::hover {
    box-shadow:none;
}

.THIS .slds-tabs_default__link[tabindex="0"]:focus{
    text-decoration: none;
}
.THIS .slds-tabs_default__item.slds-is-active::after{
    background-color:transparent;
}
.THIS a::hover{
    box-shadow:none;
}