.THIS .slds-card__header-title{
    margin: 16px 0;
  }
  
  .THIS .slds-card__header-title span.title{
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #444444;
      margin-left: 8px;
      margin-right: 16px;
    }
    .THIS .slds-card__header-title span.subtitle{
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #a2a2a2;
    }