.paymentType-container {
    width: 808px;
}

/* TEXT HEADING */
.paymentType-container .slds-text-heading_large{
    font-size: 36px;
    line-height: 43px;
    font-family: "SantanderHeadlineW05-Rg";
    color: #444444;
    margin-bottom: 40px;
}

/* GRID */
.paymentType-grid .slds-col{
    margin: 0;
    margin-right: 24px;
    margin-bottom: 24px;
    flex: none;
}

.paymentType-grid .slds-col:nth-child(2n){
    margin-right: 0;
}

/* CARD PAYMENT */
.cardPayment {
    width: 392px;
    min-height: 274px;
    border-radius: 4px;
    box-shadow: 2px 2px 6px 2px rgba(206, 214, 219, 0.4);
    border: 1px solid #cedee7;
    background-color: #ffffff;
    padding: 40px;
}

/* CARD PAYMENT HEADER */
.cardPayment .slds-card__header{
	margin: 0 0 32px 0;
    padding: 0;
}
.cardPayment .slds-card__header header{
	display: flex;
    flex-direction: column;
    align-items: center;
}
.cardPayment .slds-card__header .slds-media__figure{
	margin: 0 0 16px 0;
    height: 48px;
}
.cardPayment .slds-card__header .slds-media__body{
	display: flex;
    flex-direction: column;
    align-items: center;
}

.cardPayment .slds-card__header .slds-media__figure .icon:first-child,
.cardPayment .slds-card__header .slds-media__body .slds-card__header-title:first-of-type,
.cardPayment .slds-card__header .slds-media__body .card_subtitle:first-of-type {
	display: block;
}
.cardPayment .slds-card__header .slds-media__figure .icon:before{
    font-size: 48px;
    color: #257fa4;
}

/* CARD PAYMENT FOOTER */
.cardPayment .slds-card__footer{
    display: flex;
    justify-content: center;
 	margin: 0;
    padding: 0;
    border: none;
}

.cardPayment .slds-card__footer .slds-button{
    min-width: 104px;
}

.cardPayment .slds-card__footer .slds-button +.slds-button{
    margin-left: 24px;
    /* display: none; */
}

/* CARD PAYMENT TEXT STYLE */
.cardPayment .slds-card__header-title {
    font-family: "SantanderHeadlineW05-Bold";
    font-size: 20px;
    line-height: 28px;
    color: #444444;
}
.cardPayment .card_subtitle{
    font-family: "SantanderMicroText";
    font-size: 16px;
    line-height: 22px;
    color: #767676;
    margin-top: 4px;
}


.cardPayment.otherPayment .slds-card__header{
    margin-bottom: 0;
}
.cardPayment.otherPayment .slds-card__body{
    display: block;
    max-height: 48px;
    margin: 0;
    margin-top: 48px;
    overflow: visible;
}
.cardPayment.otherPayment .slds-card__footer{
    display: none;
}

/* DROPDOWN */
.dropdown .slds-form-element__label {
    color: #767676;
    font-family: SantanderMicroText;
    font-size: 12px;
    left: 16px;
    line-height: 17px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 6px;
    z-index: 2;
}

.dropdown .button-order {
    display: flex;
	border: 1px solid #deedf2;
	background-color:#f6fafc;
	border-radius: 4px 4px 0 0;
	box-shadow: inset 0 -1px 0 0 #257fa4;
	height: 48px;
	width: 100%;
	/*min-width:392px;*/	
}

.dropdown .button-order .button-arrow {
	font-size: 24px;
}

.dropdown .button-order:focus {
	box-shadow: inset 0 -2px 0 0  #257fa4;
}

.dropdown .button-order:hover {
	box-shadow: inset 0 -2px 0 0  #257fa4;
}

.dropdown .slds-dropdown {
	box-shadow: inset 0 -1px 0 0 #cedee7;
	background-color:#f6fafc;
	border-top: none;
	border-right: 1px solid #deedf2;
	border-left: 1px solid #deedf2;
	border-bottom: 1px solid #257fa4;
	border-radius: 0 0 4px 4px;
	cursor: pointer;
	left: auto;
	margin: 0;
	max-width: 100%;
    min-width: inherit;
    overflow: hidden;
	padding: 0;
	right: auto;
	top: 48px;
    width: 100%;
    z-index: 3;
}

.dropdown .slds-dropdown ul {
   overflow-y: auto;
   max-height: 192px;
   margin: 6px 0 6px 5px;
}

.dropdown .slds-button__icon{
	width: 24px;
	height: 24px;
	margin: 12px 16px;
}
.dropdown .optionOrder {
	align-items: center;
	display: inline-flex;
    line-height: 24px;
}


.dropdown .dropdownOrder .slds-dropdown__item > a:hover,
.dropdown .dropdownOrder .slds-dropdown__item > a:active,
.dropdown .dropdownOrder .slds-dropdown__item > a:focus{
    border-radius: 4px;
	background-color:#e5f1f5;
    margin-right: 5px;
}

.dropdown .dropdownOrder .slds-dropdown__item > a {
	padding:0 12px;
	font-size: 16px;
	font-family: "SantanderMicroText";
	color: #444444;
    height: 36px;
    line-height: 36px;
    width:100%;
}
.dropdown .dropdownOrder .slds-dropdown__item {
	height:48px;
    display: flex;
    align-items: center;
}
.dropdown .dropdownOrder .slds-dropdown__item:first-child {
	margin-top:0;
}
.dropdown .dropdownOrder .slds-dropdown__item:last-child {
	margin-bottom:0;
}

.dropdown .dropdownOrder .optionOrder .slds-form-element__label {
	margin: 0 ;
	font-family: "SantanderMicroText";
	font-size: 16px;
	line-height: 24px;
	color: #444444;
}
.dropdown .slds-border_right {
	font-family: "SantanderMicroText";
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    border: 0;
    display: flex;
 	padding: 0 48px 0 16px;
    width: 100%;
}
.dropdown .slds-border_right.selectedValue-placeholder {
    color: #767676;
}
.dropdown .selectedValue-filled {
	color: #444444;
    display: block;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.dropdown .slds-form-element__label + .slds-combobox .slds-dropdown-trigger_click .button-order .slds-border_right {
    padding: 19px 0px 5px 16px;
}

/* SCROLLBAR */
.dropdown .slds-dropdown ul::-webkit-scrollbar {
	width: 6px;
}
.dropdown .slds-dropdown ul::-webkit-scrollbar-track {
	border-radius: 10px;
}
.dropdown .slds-dropdown ul::-webkit-scrollbar-track-piece {
	background: transparent;
}
.dropdown .slds-dropdown ul::-webkit-scrollbar-thumb {
	background: #dadada;
	border-radius: 10px;
}

/* ERROR */
.error .slds-form-element__help {
	display: none;
}
.slds-form-element .errorText{
    color: #cc0000;
    font-family: "SantanderMicroText";
    font-size: 14px;
    line-height: 20px;
    margin: 0px;
    margin-left: 16px;
    display: none;
}
.slds-form-element.error .errorText {
	display: block;
}

.error .errorText {
    display: block;
}

.error .slds-form-element__label{
	color: #cc0000;
}

.error .slds-form-element__control .slds-input,
.error .slds-combobox .button-order,
.error .slds-form-element__control .slds-textarea {
	border-bottom: 1px solid #cc0000;
    box-shadow: none;
}
.error .slds-form-element__control .slds-input:active,
.error .slds-form-element__control .slds-input:focus,
.error .slds-combobox .button-order:active,
.error .slds-combobox .button-order:focus,
.error .slds-combobox .button-order:hover,
.error .slds-form-element__control .slds-textarea:active,
.error .slds-form-element__control .slds-textarea:focus{
	box-shadow: inset 0 -1px 0 0 #cc0000;
}

/* DISABLED */
.slds-input[disabled]{
	background-color: #ffffff;
    border: solid 1px #cccccc;
    border-bottom: solid 1px #9bc3d3;
    cursor: not-allowed;
    color: #767676;
}
.slds-input[disabled] + .slds-button,
.slds-textarea[disabled] + .slds-button{
	cursor: not-allowed;
}
.slds-input[disabled]:active, 
.slds-input[disabled]:focus{
    box-shadow: none;
    border-bottom: solid 1px #9bc3d3;
}
.dropdown .button-order[disabled] .button-arrow.icon-arrowDown_small:before,
.dropdown .button-order[disabled] .button-arrow.icon-arrowUp_small:before {
	color: #cccccc;
}
.dropdown .button-order[disabled],
.slds-textarea[disabled]{
	background-color: #f6f6f6;
    border: solid 1px #cccccc;
    border-bottom: solid 1px #9bc3d3;
    cursor: not-allowed;
    box-shadow: none;
    color: #767676;
}
.dropdown .button-order[disabled] .selectedValue-filled {
	color: #767676;
}
.dropdown .button-order[disabled]:hover,
.slds-textarea[disabled]:hover{
    box-shadow: none;
}

.dropdown .button-order[disabled]:active, 
.dropdown .button-order[disabled]:focus,
.slds-textarea[disabled]:active,
.slds-textarea[disabled]:focus{
    box-shadow: none;
    border-bottom: solid 1px #9bc3d3;
}