.THIS {
    
}

.THIS .accounts{
    color: #a2a2a2;
    font-size: 14px;
    height: 21px;
    line-height: 1.5;  
}

.THIS .accountNumber{
    font-size: 14px; 
    height: 21px;
    line-height: normal;
}

.THIS .arrow{
    margin-right: 0;
    margin-top: 4px;
}

.THIS .availableCountry{
    align-items: center;
    color: #444444;
    display: flex;
    height: 24px;
    justify-content: flex-end;
}

.THIS .avAccount{
    color: #9b9b9b; 
    font-size: 16px;
    height: 21px;
}

.THIS .avDecimals{
    font-size: 12px;
}

.THIS .avDecimalsAccount{
    font-size: 10px;
}

.THIS .avInteger{
    font-size: 16px;
}

.THIS .avIntegerAccount{
    font-size: 14px;
}

.THIS .avName{
    font-size: 12px;
    margin-right: 4px;
}

.THIS.badge{
    margin-right: 0;
    margin-top: 0;
}

.THIS .badgeDecimals{
    font-family:"SantanderTextW05-Bold";
    font-size: 14px;
}

.THIS .badgeInteger{
    font-family:"SantanderHeadlineW05-Bold";
    font-size: 18px;
    height: 26px;
}

.THIS .badgeName{
    font-family:"SantanderTextW05-Bold";
    font-size: 16px;
    height: 23px;
    text-transform: uppercase;
}

.THIS .balance{
    margin-right: 16px;
    text-align: right;
}

.THIS .balanceAccount{
    text-align: right;
}

.THIS .balanceUpdated{
    color: #a2a2a2;
    font-size: 12px; 
}

.THIS .bbAccount{
    color: #444444;
    height: 23px;
}

.THIS .bbDecimals{
    font-family:"SantanderTextW05-Bold";
    font-size: 16px;
}

.THIS .bbDecimalsAccount{
    font-family:"SantanderTextW05-Bold";
    font-size: 14px;
}

.THIS .bbIntegerAccount{
    font-family:"SantanderTextW05-Bold";
    font-size: 18px;
}

.THIS .bbInteger{
    font-family:"SantanderHeadlineW05-Bold";
    font-size: 20px;
}

.THIS .bbName{
    font-size: 12px;
    margin-right: 4px;
}

.THIS .bookCountry{
    color: #9b9b9b; 
    font-size: 16px;
    height: 24px;
    line-height: 1.5;
}

.THIS .button{
    cursor: pointer;
}

.THIS .button-arrow{
    cursor: pointer;
    font-size: 32px;
}

.THIS .button-options{
    cursor: pointer;
    font-size: 24px;
}

.THIS .contentAccount{
    background-color: #ffffff;
    height: 76px;
    margin: 0;
    padding: 0 5.4% 0 6.1%;
}

.THIS .containerLine{
    display: flex;
    justify-content: center;
}

.THIS .contentBadge{
    background-color: #ececec;
    height: 48px;
    margin: 0;
    padding: 0 1.4% 0 6.1%;
}

.THIS .contentCard{
    height: 72px;
    margin: 0;
    padding: 0 1.4% 0 1.4%;
}

.THIS .country{
    color: #444444;
    font-size: 16px;
    height: 24px;
    line-height: 1.5;  
}

.THIS.countryCard{
    background-color: #ffffff;
    border: solid 1px #ececec;
    border-radius: 4px;
    margin-top: 8px;
}

.THIS .flag{
    height: 40px;
    width: 40px;
}

.THIS .icon{
    margin-right: 1.4%;
}

.THIS .identity{
    height: 23px;
    line-height: normal;  
}

.THIS .line{
    border-top: 1px solid #ececec;
    margin-bottom: 0;
    margin-top: 0;
    width: 96%;
}

.THIS .menu{
    background-color: #ffffff;
    border: solid 1px #dadada;
    border-radius: 3px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
    height: 91.7px;
    left: -.8rem;
    top: .7rem;
    width: 184px;
}

.THIS .option{
	padding: .65rem 1rem .65rem 1rem; 
}

.THIS .optionName{
    font-size: 14px;
    height: 20px;  
}

.THIS .refresh{
    cursor: pointer;
    font-size: 24px;
    margin-right: 8px;
}

.THIS .slds-nubbin_top-left::before, .THIS .slds-nubbin_top-left::after{
    border-radius: 25%;
    height: 0.5rem;
    left: 1.75rem;
    top: -.2rem;
    width: 0.5rem;
}

.THIS .subsidiary{
    color: #444444;
    font-size: 16px;
    margin-right: 8px;
}