.THIS.cardsGlobal .card {
    background-color: #f6f6f6;
    border: solid 1px #cedee7;
    border-radius: 4px;
    color: #444444;
    font-family: "SantanderMicroText";
    margin:0;
    margin-bottom: 16px;
    max-width: 392px;
    padding: 16px;
    box-shadow: 2px 2px 6px 2px rgba(206, 214, 219, 0.4);
}
.THIS.cardsGlobal .card:nth-child(2n+1) {
    margin-right:24px;
}
.THIS.cardsGlobal .card .button-arrow {
    display: inline-block;
    vertical-align: middle;
}
.THIS.cardsGlobal .card .icon-arrowRight_big:before {
    font-size: 24px;
}
.THIS.cardsGlobal .card .sizeFlag {
    height: 24px;
    width: 24px;
}
.THIS.cardsGlobal .card .slds-card__body {
    margin-bottom: 0;
}
.THIS.cardsGlobal .card .slds-card__body .slds-media_center:first-child {
    height: 21px;
    margin-bottom: 4px;
}
.THIS.cardsGlobal .card .slds-card__header {
    margin: 0;
    padding:0; 
}
.THIS.cardsGlobal .card .slds-card__header-title {
    color: #444444;
    font-family: "SantanderMicroText-Bd";
    font-size: 16px;
    line-height: 24px;
}
.THIS.cardsGlobal .card .slds-media_center {
    justify-content: space-between;
}
.THIS.cardsGlobal .card .slds-media__figure {
    margin-right: 8px;
}
.THIS.cardsGlobal .card .slds-text-heading_medium {
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
}
.THIS.cardsGlobal .card .slds-text-heading_medium.subtitle .decimals {
    font-size: 18px;
}
.THIS.cardsGlobal .card .slds-text-heading_medium.subtitle .integer {
    font-family: "SantanderHeadlineW05-Rg";
    font-size: 24px;
}
.THIS.cardsGlobal .card .text-link{
    color: #ec0000;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
}
.THIS.cardsGlobal .card .text-link:hover {
    color: #cc0000;
}