.THIS {
}

.THIS .labelStep__active{
    color: #444444;
    font-family:"SantanderTextW05-Bold";
    font-size: 12px;
    margin-bottom: 10px; 
}

.THIS .labelStep__completed{
    color: #444444;
    font-size: 12px;
    margin-bottom: 10px;
}

.THIS .labelStep__inactive{
    color: #a2a2a2;
    font-size: 12px;
    margin-bottom: 10px; 
}

.THIS .button-check{
    font-size: 10px;
}

.THIS .button.button__active{
    background: #FFFFFF;
    border: 2px solid #1bb3bc;
    box-shadow: none;
    height: 20px;
    width: 20px;
}

.THIS .button.button__completed{
    background: #1BB3BC;
    border-color: #1BB3BC;
    box-shadow: none;
    height: 20px;
    width: 20px;
}

.THIS .button.button__inactive{
    background: #FFFFFF;
    border: 2px solid #cccccc;
    box-shadow: none;
    cursor: default;
    height: 20px;
    width: 20px;
}

.THIS .completed{
    background-color: #1BB3BC;
    width: 42%;
}

.THIS .icon-check:before{
    color: white;
}

.THIS .margin2Steps{
    margin: 0 440px;
}

.THIS .margin3Steps{
    margin: 0 335px;
}

.THIS .progressBar{
    background-color: #cccccc;
    height: 2px;
    margin-top: 14px;
}

.THIS.progressIndicator{
    margin-bottom: 16px;
    max-width: 100%;
}

.THIS .progress_2steps_step0{
    background-color: #1BB3BC;
    width: 42%;
}

.THIS .progress_2steps_step1{
    background-color: #1BB3BC;
    width: 59%;
}

.THIS .progress_2steps_step2{
    background-color: #1BB3BC;
    width: 100%;
}

.THIS .progress_3steps_step0{
    background-color: #1BB3BC;
    width: 34%;
}

.THIS .progress_3steps_step1{
    background-color: #1BB3BC;
    width: 52%;
}

.THIS .progress_3steps_step2{
    background-color: #1BB3BC;
    width: 68%;
}

.THIS .progress_3steps_step3{
    background-color: #1BB3BC;
    width: 100%;
}

.THIS .slds-progress__item.slds-is-active .slds-progress__marker:focus{
    box-shadow: none;
}

.THIS .slds-progress__item.slds-is-active .slds-progress__marker:hover{
    border-color: #1BB3BC;
}

.THIS .step{
    display: inline;
    text-align: center;
}