/* MODAL CONTAINER*/
.modalPaymentMethod {
    background: rgba(68,68,68,0.7);
    overflow-y: auto;
}
.modalPaymentMethod .slds-modal__container {
    max-width: 936px;
    min-width: 936px;
    padding: 120px 0;
    height: max-content;
}
.modalPaymentMethod .modal-content {
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    box-shadow: 4px 4px 12px 4px rgba(206, 214, 219, 0.4);
    max-height: 100%;
    background-color: #f6fafc;
    border-radius: 4px; 
}
.modalPaymentMethod .slds-modal__close {
    position: absolute;
    right: 24px;
    top: 24px;
    font-size: 18px; 
    width: 24px;
    height: 24px;
}
.modalPaymentMethod .slds-modal__close .icon-close_big {
    font-size:24px
}
.modalPaymentMethod .modal-content .slds-modal__content { 
    background-color: #f6fafc;
    padding: 0 64px 40px 64px;
    overflow: hidden;
}

/* MODAL HEADER */
.modalPaymentMethod .slds-modal__header { 
    box-shadow: none;
    border: none; 
    text-align: left;
    padding:40px 64px;
    background-color: #f6fafc;
}
.modalPaymentMethod .slds-modal__header .slds-modal__title {
    font-family:"SantanderHeadlineW05-Rg";
    font-size: 28px; 
    line-height: 1.21; 
    color: #444444;
    position: relative;
    padding: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 8px;
}
.modalPaymentMethod .modal-content .slds-modal__header:after {
    font-size: 24px;
    position:absolute;
    content:"";
    width: 40px;
    height: 3px;
    background-color: #ec0000;
    bottom: auto;
    left: 64px;
}

/* MODAL FOOTER */
.modalPaymentMethod .modal-content .slds-modal__footer {
    box-shadow: none;
    border: none; 
    padding:40px 64px 40px;
}
.modalPaymentMethod .modal-content .modal-footer-buttons {
    display:flex;
}
.modalPaymentMethod .modal-content .modal-footer-buttons .slds-button {
    margin-right:24px;
        margin-left: 0;
}

/*9814: añadir .slds-notify_container */
 .slds-notify_container.toast_static { 
    margin-top: 0px;
}