.THIS {
}

.THIS.container{
    display: flex;
    align-items: baseline;
    margin-bottom:16px;
    
}
.THIS .title{
    font-size:16px;
    color: #444444;
    font-family: "SantanderTextW05-Regular";
    margin-right:16px;
    
}
.THIS .subtitle{
    font-size: 12px;
    color: #a2a2a2;
    font-family: "SantanderTextW05-Regular";
    
}