/* MODAL FULL SCREEN */
.modalFullScreen .slds-modal__container {
  min-width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background-color: #f6f6f6;
  padding: 0px;
  position: relative;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-track-piece {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #dadada;
  border-radius: 10px;
}

/* MODAL HEADER */
.modalFullScreen .slds-modal__header {
  border-bottom: none;
  padding: 0px;
  width: 100%;
  z-index: 15;
}

.modalFullScreen .slds-modal__header .row:first-child {
  padding: 12px 24px;
  margin: 0px;
  width: 100%;
  height: 72px;
  background-color: #ffffff;
}
.modalFullScreen .slds-modal__header .slds-progress-bar {
  height: 4px;
  background-color: #deedf2;
}

.modalFullScreen .slds-modal__header .slds-progress-bar__value {
  background-color: #ec0000;
}
.modalFullScreen .slds-modal__header .slds-col {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
.modalFullScreen .slds-modal__header .slds-col:nth-child(2) {
  justify-content: center;
}
.modalFullScreen .slds-modal__header .slds-col:last-child {
  justify-content: flex-end;
}
.modalFullScreen .slds-modal__header .slds-modal__title {
  color: #444444;
  font-family: "SantanderHeadlineW05-Bold";
  font-size: 20px;
  line-height: 28px;
}

.modalFullScreen .slds-modal__header .logo-red {
  width: 48px;
  height: 48px;
  margin-right: 12px;
}

.modalFullScreen .slds-modal__header .slds-col:last-child .slds-button {
  margin-left: 20px;
}

/* ONE STEP */
.modalFullScreen .slds-modal__header.oneStep .row .slds-col:last-child {
  visibility: hidden;
}
.modalFullScreen .slds-modal__header.oneStep .slds-progress-bar {
  height: 4px;
  background-color: #ffffff;
  box-shadow: inset 0 -1px 0 0 #cedee7;
}

.modalFullScreen
  .slds-modal__header.oneStep
  .slds-progress-bar
  .slds-progress-bar__value {
  display: none;
}

/* ERROR STEP */
.modalFullScreen .slds-modal__header.errorStep .row .slds-col:first-child,
.modalFullScreen .slds-modal__header.errorStep .row .slds-col:last-child {
  visibility: hidden;
}

.modalFullScreen
  .slds-modal__header.errorStep
  .slds-progress-bar
  .slds-progress-bar__value {
  display: none;
}

/* MODAL CONTENT */
.modalFullScreen .slds-modal__content {
  background-color: #f6fafc;
  margin-top: 76px;
  width: 100%;
  height: 100%;
  padding-bottom: 24px;
}

.modalFullScreen .slds-modal__content:last-child {
  box-shadow: none;
}

.modalFullScreen .slds-modal__content .slds-grid__content {
  max-width: 808px;
  margin: 0 auto;
}

.slds-modal__content.activation .slds-grid__download {
  text-align: end;
  margin-bottom: 24px;
  height: 24px;
}

.slds-modal__content.activation
  .slds-grid__textFile
  .textFile
  .slds-text-heading {
  font-family: "SantanderHeadlineW05-Rg";
  font-size: 20px;
  line-height: 1.4;
  color: #444444;
  margin-bottom: 16px;
}

.slds-modal__content.activation .slds-grid__textFile .textFile .slds-text-body {
  font-family: SantanderMicroText;
  font-size: 16px;
  line-height: 1.5;
  color: #444444;
}

/* MODAL FOOTER */
.slds-modal__footer {
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
}

/* CARD AUTHORIZATION STICKY */
.cardAuthorization {
  width: 100%;
  position: sticky;
  bottom: 0px;
  padding: 64px 24px 66px 24px;
  box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, 0.08), inset 0 1px 0 0 #1bbebc;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: unset;
  border: unset;
}

.cardAuthorization.card_buttons {
  padding: 24px;
  box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, 0.08), inset 0 1px 0 0 #cedee7;
}

.cardAuthorization.card_buttons .slds-card__header,
.cardAuthorization.card_buttons .card-line,
.cardAuthorization.card_buttons .slds-card__body {
  display: none;
}

.cardAuthorization.error {
  box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, 0.08), inset 0 1px 0 0 #cc0000;
  padding: 102px 24px 101px 24px;
}

.cardAuthorization header:nth-child(2),
.cardAuthorization.error header:nth-child(1) {
  display: none;
}

.cardAuthorization.error header:nth-child(2) {
  display: block;
}

/* CARD AUTHORIZATION HEADER */
.cardAuthorization .slds-card__header {
  margin: 0;
  padding: 0;
}

.cardAuthorization .slds-card__header .slds-media__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
}

/* SEPARATION LINE */
.cardAuthorization .card-line {
  width: 392px;
  border-bottom: 1px solid #cedee7;
  margin: 24px 0;
}

.cardAuthorization.error .card-line {
  display: none;
}

/* CARD AUTHORIZATION BODY */
.cardAuthorization .slds-card__body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  border: none;
}

.cardAuthorization.error .slds-card__body {
  display: none;
}

/* CARD AUTHORIZATION FOOTER */
.cardAuthorization .slds-card__footer {
  display: none;
}
.cardAuthorization.card_buttons .slds-card__footer {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  border: none;
}

.cardAuthorization .slds-card__footer > .slds-button + .slds-button {
  margin-left: 24px;
}

/* CARD AUTHORIZATION TEXT STYLE */
.cardAuthorization .slds-card__header-title {
  font-family: "SantanderHeadlineW05-Bold";
  font-size: 20px;
  line-height: 28px;
  color: #137e84;
  text-align: center;
}

.cardAuthorization .card_subtitle {
  font-family: "SantanderMicroText";
  font-size: 16px;
  line-height: 24px;
  height: 24px;
  color: #444444;
  margin-top: 4px;
  text-align: center;
}

.text-bold {
  font-family: "SantanderMicroText-Bd";
  color: #444444;
}

/* CARD ICON */
.card_icon {
  margin-bottom: 16px;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
}

.card_icon .app_icon {
  width: 40px;
  height: 56px;
}

.slds-card__body .icon_right {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

/* CARD AUTHORIZATION STICKY LOCAL */
.cardAuthorization.local {
  padding: 79px 24px;
}

.cardAuthorization
  .slds-card__header
  > .slds-media:first-child
  .slds-media__body
  .slds-card__header-title
  + .slds-card__header-title {
  display: none;
}

.cardAuthorization.local
  .slds-card__header
  > .slds-media:first-child
  .slds-media__body
  .slds-card__header-title
  + .slds-card__header-title {
  display: block;
}

.cardAuthorization.local
  .slds-card__header
  > .slds-media:first-child
  .slds-media__body
  > .slds-card__header-title:first-of-type,
.cardAuthorization.local
  .slds-card__header
  > .slds-media:first-child
  .slds-media__body
  .card_subtitle {
  display: none;
}

.cardAuthorization .card_icon .icon-signature-pending {
  display: none;
}
.cardAuthorization.local .card_icon .icon-signature-pending {
  display: block;
}
.cardAuthorization.local .card_icon .app_icon {
  display: none;
}
.cardAuthorization.local .icon-signature-pending:before {
  color: #137e84;
  font-size: 56px;
}

/* CONTACT  */
.slds-grid__contact {
  position: absolute;
  right: 40px;
  bottom: 40px;
}

.cardAuthorization ~ .slds-grid__contact {
  position: absolute;
  right: 40px;
  bottom: calc(40px + 331px);
}

.cardAuthorization.card_buttons ~ .slds-grid__contact {
  position: absolute;
  right: 40px;
  bottom: calc(40px + 80px);
}

/* DASH LIST */
.dashList li:before {
  content: "â—";
  font-size: 16px;
  line-height: 24px;
  margin: 0 8px 0 16px;
  color: #ec0000;
}

.dashList li {
  margin-bottom: 6px;
}
.dashList li:last-child {
  margin-bottom: 16px;
}

.textFile .slds-text-body p {
  margin-bottom: 24px;
}
.textFile .slds-text-body p:first-child {
  margin-bottom: 16px;
}
.textFile .slds-text-body p:last-child {
  margin-bottom: 40px;
}

/* STEPPER */
.stepper {
  width: 100%;
  margin-top: 52px;
  margin-bottom: 28px;
}

/* STEPPER HEADING */
.stepper_heading {
  width: 100%;
  min-height: 40px;
}

.stepper_heading .line {
  height: 1px;
  background-color: #cedee7;
  margin-top: 20px;
}

.stepper_heading .slds-col:first-child {
  max-width: calc(((100vw - 808px) / 2) - 24px);
}

.stepper_heading .slds-col:nth-child(2) {
  max-width: fit-content;
}

.stepper_heading .step {
  align-items: flex-start;
  padding-right: 24px;
  padding-left: 24px;
}

.stepper_heading .step .step_number {
  width: 32px;
  height: 32px;
  background-color: #444444;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 12px;
}

.step_number > span {
  font-family: "SantanderHeadlineW05-Bold";
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.stepper_heading .step .step_title {
  max-width: 764px;
  min-height: 40px;
  display: flex;
  align-items: flex-start;
}

.step_title > span {
  font-family: "SantanderHeadlineW05-Rg";
  font-size: 28px;
  line-height: 34px;
  color: #444444;
}

/* STEPPER SUBTITLE */
.stepper_subtitle {
  width: 808px;
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 4px;
}

.step_subtitle {
  font-family: "SantanderHeadlineW05-Rg";
  font-size: 20px;
  line-height: 1.4;
  color: #444444;
}

.quickButtons > .slds-button.primary .icon:before {
  font-size: 24px;
  color: #ffffff;
}
