.THIS {
}
.THIS .firstPillBig{
    width:11.3%;
}
.THIS .firstPillSmall{
    width:12.3%;
}

.THIS .lastPillBig{
    width: 87.7%;
    display: flex;
    justify-content: flex-end;
}
.THIS .lastPillSmall{
    width: 86.4%;
    display: flex;
    justify-content: flex-end;
}
.THIS .lastRow{
    margin: 0;
}
.THIS .paddingInput{
    padding: 0;
}
.THIS.containerPopUp{
    width: 1184px;
    background-color: /*#eff6f9*/ white;
    border: 0px;
    padding: 16px 24px 16px 16px;
}

.THIS.containerAdmin{
    width: 1184px;
    background-color: /*#eff6f9*/ transparent;
    border: 0px;
    padding: 24px 0 24px 10px;
}
.THIS.containerSearch{
    width: 1184px;
    background-color: #eff6f9;
    border: 0px;
    padding: 34px 64px 24px 64px;
}

/*		BOTON BLANCO GRANDE		*/
.THIS .whiteButtonBig1{
    width: 105px;
    height: 40px;
    border-radius: 24px;
    border: solid 1px #ec0000;
    background-color: #ffffff;
    font-size: 14px;
    color: #ec0000;
    font-family: "SantanderTextW05-Bold";
    margin-right: 16px;
}
.THIS .whiteButtonBig1:hover{
    width: 105px;
    height: 40px;
    border-radius: 24px;
    border: solid 1px #cc0000;
    background-color: #f6f6f6;
    font-size: 14px;
    color: #cc0000;
    font-family: "SantanderTextW05-Bold";
    margin-right: 16px;
}
.THIS .whiteButtonBig1:focus{
    box-shadow: 0 0 2px 1px #dadada;
}


/*		BOTON BLANCO GRANDE ALARGADO		*/
.THIS .whiteButtonBig2{
    width: 148px;
    height: 40px;
    border-radius: 24px;
    border: solid 1px #ec0000;
    background-color: #ffffff;
    font-size: 14px;
    color: #ec0000;
    font-family: "SantanderTextW05-Bold";
    margin-right: 16px;
}
.THIS .whiteButtonBig2:hover{
    width: 148px;
    height: 40px;
    border-radius: 24px;
    border: solid 1px #ec0000;
    background-color: #f6f6f6;
    font-size: 14px;
    color: #ec0000;
    font-family: "SantanderTextW05-Bold";
    margin-right: 16px;
}
.THIS .whiteButtonBig2:focus{
    box-shadow: 0 0 2px 1px #dadada;
}


/*       UN BOTON GRANDE ROJO             */
.THIS .redButtonBig{
    width: 119px;
    height: 40px;
    border-radius: 24px;
    border: solid 1px #ec0000;
    background-color: #ec0000;
    font-size: 14px;
    font-family: "SantanderTextW05-Bold";
    color: #ffffff;
    margin:0;
}
.THIS .redButtonBig:hover{
    width: 119px;
    height: 40px;
    border-radius: 24px;
    border: solid 1px #ec0000;
    background-color: #cc0000;
    font-size: 14px;
    font-family: "SantanderTextW05-Bold";
    color: #ffffff;
    margin:0; 
}
.THIS .redButtonBig:focus{
    box-shadow: 0 0 2px 1px #dadada;
}