/* POPOVER */
.slds-popover {
    max-width: 288px;
    min-width: 288px;
    position: absolute;
    top: 32px;
    border-radius: 4px;
    width: auto;
    min-height: 2rem;
    z-index: 2;
    background-color: white;
    display: inline-block;
    box-shadow: 2px 2px 6px 2px rgb(0 0 0 / 8%);
    border: 1px solid #cedee7;
    margin-top: 4px;
    padding: 8px 0 0 0;
}
.slds-popover .buttons{
    padding: 20px 16px;
    display: flex;
    justify-content: space-between;
}

/* RADIO BUTTONS  */
.slds-radio .slds-form-element__label {
    font-family: "SantanderMicroText";
    color: var(--color-dark-grey);
    height: var(--size-spacing-05);
    padding: 0;
    display: inline;
    line-height: var(--size-font-06);
    vertical-align: middle;
    font-size: var(--size-font-03);
}
.slds-form-element .slds-radio [type=radio] + .slds-radio_faux, 
.slds-form-element .slds-radio [type=radio]~.slds-radio_faux, 
.slds-radio [type=radio]+.slds-radio__label .slds-radio_faux {
    margin-right: var(--size-spacing-02 );
}

.slds-form-element__control .slds-radio {
    margin-bottom: 16px;
}
.slds-form-element__control .slds-radio:last-child {
    margin-bottom: 0;
}
.slds-radio__label{
    cursor: pointer;
}
/* RADIO  */
.slds-radio [type=radio] {
    width: 1px;
    height: 1px;
    border: 0;
    clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}
.slds-radio .slds-radio_faux, .slds-radio .slds-radio--faux {
    width: var(--size-spacing-05);
    height: var(--size-spacing-05);
    display: inline-block;
    position: relative;
    flex-shrink: 0;
    vertical-align: middle;
    border: var(--size-border-width-01) solid var(--color-medium-grey);
    border-radius: var(--lwc-borderRadiusCircle,50%);
    background: none;
    background-color: var(--sds-c-radio-color-background, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));
    box-shadow: unset;
    transition: unset;
}
.slds-radio [type=radio]:checked+.slds-radio_faux:after,
.slds-radio [type=radio]:checked~.slds-radio_faux:after, 
.slds-radio [type=radio]:checked+.slds-radio__label .slds-radio_faux:after {
    width: 10px;
    height: 10px;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 50%;
    background: none;
    background-color: var(--color-turquoise, var(--color-turquoise));
}
.slds-radio [type=radio]:checked+.slds-radio_faux,
.slds-radio [type=radio]:checked~.slds-radio_faux,
.slds-radio [type=radio]:checked+.slds-radio__label .slds-radio_faux{
    border-color: var(--color-turquoise, var(--color-turquoise));
    border: solid var(--size-border-width-02) var(--color-turquoise, var(--color-turquoise));
    background: none;
    background-color: var(--sds-c-radio-color-background-checked, var(--color-white, var(--color-white)));
}
.slds-radio [type="radio"]:checked + .slds-radio_faux,
.slds-radio [type="radio"]:checked + .slds-radio--faux,
.slds-radio [type="radio"]:checked ~ .slds-radio_faux,
.slds-radio [type="radio"]:checked ~ .slds-radio--faux,
.slds-radio [type="radio"]:checked + .slds-radio__label .slds-radio_faux,
.slds-radio [type="radio"]:checked + .slds-radio__label .slds-radio--faux {
    border: 2px solid #1bb3bc;
}
.slds-radio [type="radio"]:checked + .slds-radio_faux::after,
.slds-radio [type="radio"]:checked + .slds-radio--faux::after,
.slds-radio [type="radio"]:checked ~ .slds-radio_faux::after,
.slds-radio [type="radio"]:checked ~ .slds-radio--faux::after,
.slds-radio [type="radio"]:checked + .slds-radio__label .slds-radio_faux::after,
.slds-radio [type="radio"]:checked + .slds-radio__label .slds-radio--faux::after {
    width: 10px;
    height: 10px;
    background: #1bb3bc;
}
.slds-radio [type="radio"]:focus + .slds-radio_faux,
.slds-radio [type="radio"]:focus + .slds-radio--faux,
.slds-radio [type="radio"]:focus ~ .slds-radio_faux,
.slds-radio [type="radio"]:focus ~ .slds-radio--faux,
.slds-radio [type="radio"]:focus + .slds-radio__label .slds-radio_faux,
.slds-radio [type="radio"]:focus + .slds-radio__label .slds-radio--faux {
    box-shadow: none;
}
.slds-radio [type="radio"]:disabled + .slds-radio_faux,
.slds-radio [type="radio"]:disabled + .slds-radio--faux,
.slds-radio [type="radio"]:disabled ~ .slds-radio_faux,
.slds-radio [type="radio"]:disabled ~ .slds-radio--faux,
.slds-radio [type="radio"]:disabled + .slds-radio__label .slds-radio_faux,
.slds-radio [type="radio"]:disabled + .slds-radio__label .slds-radio--faux {
    border-color: #cccccc;
    background-color: #ffffff;
    cursor: auto;
}
.slds-radio [type="radio"]:disabled + .slds-radio_faux + .slds-form-element__label,
.slds-radio [type="radio"]:disabled + .slds-radio--faux + .slds-form-element__label,
.slds-radio [type="radio"]:disabled ~ .slds-radio_faux + .slds-form-element__label,
.slds-radio [type="radio"]:disabled ~ .slds-radio--faux + .slds-form-element__label,
.slds-radio [type="radio"]:disabled + .slds-radio__label .slds-radio_faux + .slds-form-element__label,
.slds-radio [type="radio"]:disabled + .slds-radio__label .slds-radio--faux + .slds-form-element__label {
    color: #cccccc;
    cursor: auto;
}

.slds-radio [type="radio"]:disabled + .slds-radio_faux:after,
.slds-radio [type="radio"]:disabled + .slds-radio--faux:after,
.slds-radio [type="radio"]:disabled ~ .slds-radio_faux:after,
.slds-radio [type="radio"]:disabled ~ .slds-radio--faux:after,
.slds-radio [type="radio"]:disabled + .slds-radio__label .slds-radio_faux:after,
.slds-radio [type="radio"]:disabled + .slds-radio__label .slds-radio--faux:after {
    width: 10px;
    height: 10px;
    background: #cccccc;
}

fieldset {
    padding: 44px 0 20px 20px;
    max-height: 302px;
    overflow: auto;
    border-bottom: 1px solid var(--color-medium-sky);
}

.slds-form-element__legend {
    font-weight: unset;
    float: left;
    top: 0px;
    position: absolute;
    font-family: SantanderMicroText-Bd;
    color: var(--color-dark-grey);
    height: 43px;
    padding: 0;
    display: inline;
    line-height: 14px;
    vertical-align: middle;
    font-size: var(--size-font-02);
    text-transform: uppercase;
    padding-top: 12px;
    padding-bottom: 0;
    background-color:var(--color-white);
    z-index: 9;
    width: auto;
    padding-bottom: 20px;
    margin-bottom: 0;
}
/* SCROLLBAR */
::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-track {
	border-radius: 10px;
}
::-webkit-scrollbar-track-piece {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: #dadada;
	border-radius: 10px;
} 
/* BUTTONS  */
.buttons.clearAll .slds-m-left_x-small:first-child {
    opacity: 0;
}
.buttons .slds-m-left_x-small:first-child .slds-button {
    background-color: #ec0000!important;
    border-radius: 100px;
	color: #ffffff;
    cursor: pointer;
    font-family: "SantanderMicroText-Bd";
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
    position: relative;
    display: inline-flex;
    align-items: center;
    background: none;
    border-color: none;
    border-style: none;
    border-width: 0;
    box-shadow: unset;
    text-decoration: none;
    padding: 4px 16px;
}
.buttons .slds-m-left_x-small:last-child .slds-button {
    font-size: 14px;
    line-height: 33px;
    font-family: "SantanderMicroText";
    color: #ec0000;
    background-color: transparent!important;
    border-radius:0;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    background: none;
    border-color:none;
    border-style: none;
    border-width: 0;
    box-shadow: unset;
    text-decoration: none;
    padding:0;
}
.buttons .slds-m-left_x-small:first-child .slds-button_brand[disabled], 
.buttons .slds-m-left_x-small:first-child .slds-button_brand:disabled,
.buttons .slds-m-left_x-small:first-child .slds-button[disabled], 
.buttons .slds-m-left_x-small:first-child .slds-button:disabled  {
    font-family: "SantanderMicroText";
    background-color: #ffffff!important;
    box-shadow: inset 0 0 0 1px #cccccc;
    border-color: none!important;
	color: #767676;
    cursor: auto;
}
/* BUTTON DISABLED */
.buttons .slds-m-left_x-small:first-child .slds-button:not(.button_disabled):focus {
    color: #ffffff;
}
.buttons .slds-m-left_x-small:first-child .slds-button:not(.button_disabled):hover{
    background-color: #cc0000!important;
    color: #ffffff;
    box-shadow: inset 0 0 0 1px #cc0000;
}

.buttons .slds-m-left_x-small:first-child .slds-button:not(.button_disabled):active {
    background-color: #990000!important;
    color: #ffffff;
    box-shadow: inset 0 0 0 1px #990000;
}
.buttons .slds-m-left_x-small:last-child .slds-button:hover{
    color: #cc0000;
}
.buttons .slds-m-left_x-small:last-child .slds-button:active{
    color: #990000;
}
.slds-m-left_x-small, .slds-m-left--x-small {
    margin-left: 0;
}
/* BUTTONS */
.slds-button{
    display: inline-flex;
    justify-content: center;
}
.slds-button{
    border: none;
}

.slds-button:focus{
    box-shadow: none;
}