.slds-spinner_container {
    position: fixed !important;
    top: -24px !important;
    right: 0;
    background: rgba(255,255,255,0.6) !important;
    bottom: 0;
    left: 0;
    z-index: var(--lwc-zIndexSpinner,9050);
    visibility: visible;
    opacity: 1;
    transition: opacity .2s ease,visibility 0s;
    transition-delay: 0s,.3s;
}