.bannerOTV.paymentsLanding,
.bannerOTV.paymentsTraker {
    width:100%;
    border-radius: 4px;
    max-height: 120px;
    padding: 32px 28px;
    background-color:#DEEDF2;
    background-image:url('/sfsites/c/resource/1598863220000/Images/background-common-large.svg');
    background-position: 677px -100px;
    background-repeat: no-repeat;
    overflow: hidden;
    cursor: pointer;
    margin:24px 0;
    position: relative;
}
.bannerOTV.globalPosition{
    width:808px;
    border-radius: 4px;
    max-height: 144px;
    padding: 28px;
    background-color:#DEEDF2;
    background-image:url('/sfsites/c/resource/1598863220000/Images/background-common-small.svg');
    background-position: 390px -100px;
    background-repeat: no-repeat;
    overflow: hidden;
    cursor: pointer;
    margin:24px 0;
    position: relative;
}
.bannerOTV .background-images{
    height: 0;
}
.bannerOTV.paymentsLanding .background-images:after {
    content:url('/sfsites/c/resource/1598863220000/Images/ebroker.png');  
    position: relative;
    bottom: 82px;
    left:688px;
}
.bannerOTV.paymentsTraker .background-images:after {
    content:url('/sfsites/c/resource/1598863220000/Images/earth-clouds.png');  
    position: relative;
    bottom: 176px;
    left:639px;
}
.bannerOTV.globalPosition .background-images:after {
    content:url('/sfsites/c/resource/1598863220000/Images/man-typing.png');  
    position: relative;
    bottom: 104px;
    left:356px;
}
.bannerOTV .icon{
    display: none;
} 
.bannerOTV:hover .icon{
    display: block;
} 
.bannerOTV .icon-close:before{
    color:white; 
    font-family:"icomoon";
    display: flex;
    font-size: 24px;
    width: 24px;
    height: 24px;
	margin: 4px 4px 0 0;
    position: absolute;
    top: 0;
    align-items: center;
    right: 0;
}
.bannerOTV .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bannerOTV .content .slds-text-body {
    font-family: "SantanderHeadlineW05-Rg";
    font-size: 24px;
    line-height: 29px;
    color: #444444;
}
.bannerOTV.paymentsLanding .content .slds-text-body ,
.bannerOTV.paymentsTraker .content .slds-text-body {
    width: 668px;
}
.bannerOTV.globalPosition .content .slds-text-body {
    width: 376px;
}
.bannerOTV .secondary{
    height: 32px;
    z-index: 1;
}

