.THIS {
}
.THIS .slds-backdrop {
	background-color: #444444;
}
.THIS .button-page {
	cursor: pointer;
}
.THIS .icon-close {
	color: white;
	font-size: 24px;
	margin-right:24px;
}
.THIS .icon-close:before {
	color: #ffffff;
}
.THIS .slds-modal__header {
	border-bottom: 1px solid #dadada;
	padding: 16px 0;
}
.THIS .slds-modal__container {
	max-width: 584px;
	min-width: 584px;
}
.THIS .slds-modal__footer {
	border-top: 1px solid #dadada;
	padding: 16px 24px 16px 0;
}
.THIS .slds-modal__content {
	height: 193px;
}
.THIS .slds-modal__title {
	color: #444444;
	font-size: 20px;
}
.THIS .slds-p-around_medium {
	padding: 16px 24px 0 24px;
}
.THIS .icon-circle__blue::before {
	color: #444444;
	font-size: 24px;
}
.THIS .circle {
	display: inline-flex;
}
.THIS .slds-modal__content > ul > li {
	color: #444444;
	display: inline-flex;
	font-size: 14px;
	line-height: 1.5;
	margin-bottom: 8px;
}
.THIS .slds-media__body {
	color: #444444;
	display: flex;
	justify-content: flex-end;
}
.THIS .slds-modal__footer .slds-button + .slds-button {
	margin-left: 0;
}
.THIS .redButton {
	background-color: #ec0000;
	border: solid 1px #ec0000;
	border-radius: 24px;
	color: #ffffff;
	font-family: "SantanderTextW05-Bold";
	font-size: 14px;
	height: 32px;
	width: 86px;
}
.THIS .redButton:hover {
	background-color: #cc0000;
	border: solid 1px #ec0000;
	border-radius: 24px;
	color: #ffffff;
	font-family: "SantanderTextW05-Bold";
	font-size: 14px;
	height: 32px;
	width: 86px;
}
.THIS .whiteButton {
	background-color: #ffffff;
	border: solid 1px #ec0000;
	border-radius: 24px;
	color: #ec0000;
	font-family: "SantanderTextW05-Bold";
	font-size: 14px;
	height: 32px;
	margin-right: 16px;
	width: 82px;
}
.THIS .whiteButton:hover {
	background-color: #f6f6f6;
	border: solid 1px #ec0000;
	border-radius: 24px;
	color: #ec0000;
	font-family: "SantanderTextW05-Bold";
	font-size: 14px;
	height: 32px;
	margin-right: 16px;
	width: 82px;
}
.THIS .whiteButton:focus {
	box-shadow: 0 0 2px 1px #dadada;
}
.THIS .redButton:focus {
	box-shadow: 0 0 2px 1px #dadada;
}