.THIS.number a{
    font-family:"SantanderMicroText";
    font-size: 12px; 
    margin-right: 8px;
    text-align: center;
    width: 16px;
    color: #767676;
    text-decoration:none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration:none;
    height: 18px;
}

.THIS.number a.active,
.THIS.number a:active{
    font-family:"SantanderMicroText-Bd";
    color: #444444;
}

.THIS.number a:hover {
    font-family:"SantanderMicroText-Bd";
    color: #cc0000;
}