.THIS {
    
}

.THIS .availableBalance{
    color: #9b9b9b;
    text-align: right;
}

.THIS .availableDecimals{
    font-size: 12px;
}

.THIS .availableInteger{
    font-size: 16px;
}

.THIS .availableNumber{
    font-family:"SantanderTextW05-Bold";
    height: 20px;
    line-height: 1.5;
}

.THIS .availableText{
    font-size: 12px;
    height: 16px;
}

.THIS .bookBalance{
    color: #444444;
    margin-left: 24px;
    text-align: right;
}

.THIS .bookDecimals{
    font-family:"SantanderTextW05-Bold";
    font-size: 14px;
}

.THIS .bookInteger{
    font-family:"SantanderHeadlineW05-Bold";
    font-size: 18px;
}

.THIS .bookNumber{
    height: 20px;
}

.THIS .bookText{
    font-size: 12px;
    height: 16px;
}

.THIS .contentCard{
    height: 100%;
    margin: 0;
    padding: 12px 56px 12px 16px;
}

.THIS .global{
    color: #444444;
    font-size: 18px;
    height: 26px; 
}

.THIS.globalCard{
    background-color: #ffffff;
    border: solid 1px #dadada;
    border-radius: 4px;
    margin-top: 16px;
}

.THIS .icon{
    margin-right: 16px;
}

.THIS .world{
    height: 40px;
    width: 40px;
}


/*.THIS {
    
}

.THIS .accounts{
    color: #a2a2a2;
    font-size: 16px;
    height: 24px;
    line-height: 1.5;  
}

.THIS .available{
    color: #9b9b9b;
    font-size: 16px;
    height: 24px;
    line-height: 1.5;
}

.THIS .avDecimals{
    font-family:"SantanderTextW05-Regular";
    font-size: 14px;
}

.THIS .avInteger{
    font-family:"SantanderHeadlineW05-Rg";
    font-size: 18px;
}

.THIS .avName{
    font-family:"SantanderTextW05-Regular";
    font-size: 14px;
    margin-right: 4px;
}

.THIS .balance{
    text-align: right;  
}

.THIS .bookBalance{
    color: #444444;
    height: 27px;
}

.THIS .bbDecimals{
    font-family:"SantanderTextW05-Bold";
    font-size: 18px;
}

.THIS .bbInteger{
    font-family:"SantanderHeadlineW05-Bold";
    font-size: 24px;
}

.THIS .bbName{
    font-size: 14px;
    margin-right: 4px;
}

.THIS .contentCard{
    height: 100%;
    margin: 0;
    padding: 0 5.4% 0 1.4%;
}

.THIS .global{
    color: #444444;
    font-size: 18px;
    height: 27px;
    line-height: 1.5;  
}

.THIS.globalCard{
    background-color: #ffffff;
    border: solid 1px #ececec;
    border-radius: 4px;
    height: 88px;
}

.THIS .icon{
    margin-right: 1.4%;
}

.THIS .world{
    height: 40px;
    width: 40px;
}*/