.titleSubtitle{
    margin-bottom: 16px;
}

.titleSubtitle .containerInformation {
   margin: 0;
   padding: 0;
   margin-bottom: 8px;
}

.titleSubtitle .slds-card__header-title.separation {
   color: #444444;
   display: flex;
   align-items: flex-end;
   margin-bottom: 4px;
} 

.titleSubtitle .slds-card__header-title .subtitle{
   font-family: "SantanderMicroText";
   font-size: 14px;
   line-height: 20px;
   color: #767676;
}

.titleSubtitle .separation{
   justify-content: space-between;
}

.titleSubtitle .slds-card__header-title  .title {
   color: #444444;
   font-size: 28px; 
   font-weight: normal;
   font-family: "SantanderHeadlineW05-Rg";
   line-height: 34px;
   letter-spacing: normal;
}

.titleSubtitle .text_line{
     width: 40px;
     border-bottom: 3px solid #ec0000;
}