/* CARD AUTHORIZATION */
.THIS .cardAuthorization {
    width: 392px  !important;
    padding: 40px !important;
    border-radius: 4px !important;
    box-shadow: inset 0 0 0 1px #1bb3bc, 2px 2px 6px 2px rgba(0, 0, 0, 0.08) !important;
    background-color: #ffffff !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    position: relative !important;
    margin: 0 !important;
}

.THIS .cardAuthorization.error {
    box-shadow: inset 0 0 0 1px #cc0000, 2px 2px 6px 2px rgba(0, 0, 0, 0.08) !important;
}

.THIS .cardAuthorization header:nth-child(2),
.THIS .cardAuthorization header:nth-child(3),
.THIS .cardAuthorization.counter header:nth-child(1),
.THIS .cardAuthorization.counter header:nth-child(3),
.THIS .cardAuthorization.error header:nth-child(1),
.THIS .cardAuthorization.error header:nth-child(2){
    display: none !important;
}

.THIS .cardAuthorization.counter header:nth-child(2),
.THIS .cardAuthorization.error header:nth-child(3){
    display: block !important;
}


/* CARD SIZE */
.THIS .card_s{
    width: 856px !important;
    padding: 64px 128px 66px 128px !important;
}

/* CARD AUTHORIZATION HEADER */
.THIS .cardAuthorization .slds-card__header{
	margin: 0 !important;
    padding: 0 !important;
}

.THIS .cardAuthorization .slds-card__header .slds-media__body{
	display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    max-width:600px !important;
}

.THIS .cardAuthorization .slds-card__header .slds-media__figure{
	position: absolute !important;
    top: 24px !important;
    right: 24px !important;
    margin: 0 !important;
    width: 16px !important;
    height: 16px !important;
    display: none !important;
}


/* SEPARATION LINE */
.THIS .cardAuthorization .card-line{
    width: 392px !important;
    border-bottom: 1px solid #cedee7 !important;
    margin: 24px 0 !important;
}

.THIS .cardAuthorization.error .card-line{
    visibility: hidden !important;
}

/* CARD AUTHORIZATION FOOTER */
.THIS .cardAuthorization .slds-card__footer{
    display: flex !important;
    justify-content: center !important;
 	margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}

.THIS .cardAuthorization.error .slds-card__footer{
    visibility: hidden !important;
}

/* CARD AUTHORIZATION TEXT STYLE */
.THIS .cardAuthorization .slds-card__header-title {
    font-family: "SantanderHeadlineW05-Bold" !important;
    font-size: 20px !important;
    line-height: 28px !important;
    color: #137e84 !important;
    text-align: center !important;
}

.THIS .cardAuthorization .card_subtitle{
    font-family: "SantanderMicroText" !important;
    font-size: 16px !important;
    line-height: 24px !important;
    color: #444444 !important;
    margin-top: 4px !important;
    text-align: center !important;
}

.THIS .cardAuthorization .slds-text-body_regular{
    font-family: "SantanderMicroText" !important;
    font-size: 14px !important;
    line-height: 20px !important;
    color: #767676 !important;
    text-align: center !important;
}

.THIS .text-bold{
    font-family: "SantanderMicroText-Bd" !important;
    color: #444444 !important;
}


/* CARD ICON */
.THIS .card_icon{
    margin-bottom: 16px !important;
    width: 56px !important;
    height: 56px !important;
}


/* PROGRESS RING  */

.THIS .slds-progress-ring,
.THIS .slds-progress-ring__progress{
    height: 56px !important;
    width: 56px !important;
    border-radius: 50% !important;

}

.THIS .slds-progress-ring__progress {
    transform: rotateZ(45deg) !important;
}

.THIS .slds-progress-ring__content {
    top: 4.2px !important;
    right: 4.2px !important;
    bottom: 4.2px !important;
    left: 4.2px !important;
}

/* PROGRESS RING AVAILABLE & NOT AVAILABLE  */
.THIS .available .progress-ring_text,
.THIS .notAvailable .progress-ring_text  {
    max-width: 272px !important;
    margin: 0 0 0 16px !important;
}

.THIS .available .progress-ring_text p,
.THIS .notAvailable .progress-ring_text p {
    font-family: SantanderMicroText !important;
    font-size: 14px !important;
    line-height: 21px !important;
    color: #444444 !important;
}

.THIS .available .progress-ring_text p > span,
.THIS .notAvailable .progress-ring_text p  > span {
    font-family: SantanderMicroText-Bd !important;
}

.THIS .available .slds-progress-ring{
    background-color: #cccccc !important;
}

/*.THIS .available .slds-progress-ring__content{
    background-color: #f6fafc !important;
}*/

.THIS .available .slds-progress-ring__progress__25 {
    border-top: solid 4.2px #137e84 !important;
    border-right: solid 4.2px transparent !important;
    border-bottom:  solid 4.2px transparent !important;
    border-left: solid 4.2px transparent !important;
 }

 .THIS .available .slds-progress-ring__progress__50 {
    border-top: solid 4.2px #137e84 !important;
    border-right: solid 4.2px #137e84 !important;
    border-bottom:  solid 4.2px transparent !important;
    border-left: solid 4.2px transparent !important;

 }

 .THIS .available .slds-progress-ring__progress__75 {
    border-top: solid 4.2px #137e84 !important;
    border-right: solid 4.2px #137e84 !important;
    border-bottom:  solid 4.2px #137e84 !important;
    border-left: solid 4.2px transparent !important;
 }

 .THIS .available .slds-progress-ring__progress__100 {
    border-top: solid 4.2px #137e84 !important;
    border-right: solid 4.2px #137e84 !important;
    border-bottom:  solid 4.2px #137e84 !important;
    border-left:  solid 4.2px #137e84 !important;
 }

 .THIS .available .slds-progress-ring__content p{
    font-family: SantanderMicroText-Bd !important;
    font-size: 14px !important;
    line-height: 21px !important;
    text-align: center !important;
    color: #444444 !important;
}

.THIS .notAvailable .icon-information{
    font-size: 32px !important;
    margin: 12px !important;
}

.THIS .notAvailable .icon-information:before{
    color: #137e84 !important;
}

.THIS .notAvailable .slds-progress-ring__progress,
.THIS .notAvailable .slds-progress-ring,
.THIS .notAvailable .slds-progress-ring__content{
    background-color:  #e8f3f6 !important;
}

/* PROGRESS RING UPDATE  */
.THIS .progress-ring_container__update{
    padding: 22px 0 !important;
    border-radius: 4px !important;
    background-color: #f6fafc !important;
}

.THIS .progress-ring_container__update p{
    font-family: SantanderMicroText !important;
    font-size: 14px !important;
    line-height: 21px !important;
    color: #767676 !important;
    text-align: center !important;
    margin-bottom: 8px !important;
}
.THIS .progress-ring_container__update .icon-reload {
     font-size: 24px !important;
     margin-left: 4px !important;
}

.THIS .progress-ring_container__update .slds-button.secondary:hover .icon-reload::before {
   color: white !important;
}

.THIS .progress-ring_container__update .slds-button.secondary {
    display: flex !important; 
    cursor: pointer !important;
    margin: auto !important;
}

.THIS .progress-ring_container__update .slds-button.secondary {
    font-size: 16px !important;
    line-height: 24px !important;
    font-family: "SantanderMicroText" !important;
    height:32px !important;
}



/* CARD AUTORIZACIÓN */
.THIS.container_lastStep .authorization_card{
    margin-top: 24px;
}

/* CARD CONTACTO */
.THIS .cardProcessExit{
    background-color: transparent !important;
}

.THIS .cardProcessExit{
    /*width: 808px !important;
    max-width: 808px !important;*/
    background-color: #f6fafc !important;
    /*background-color: transparent;*/
    border: none !important;
    border-radius: 0 !important;
    padding: 0px !important;
    box-shadow: none !important;
    margin: 0px 0px 0px 0px !important;
}
.THIS .cardProcessExit .slds-card__header{
    text-align: center !important;
    padding: 40px 24px !important;
    margin: 0 !important;
}
.THIS .cardProcessExit .slds-card__header .slds-text-heading_small{
    font-family: SantanderMicroText-Bd !important;
    font-size: 14px !important; 
    line-height: 1.5 !important;
    letter-spacing: normal !important;
    color: #444444 !important;
}

.THIS .cardProcessExit .slds-card__header .slds-text-heading_small > .slds-button{
    margin-left: 5px !important;
}