.THIS .testABR {
    height:200%;
}
.THIS .img {
    margin-left: 30%;
    height:200px;
}
.THIS .userManagement {
	margin-top: 5%;
	margin-left: 20%;
	height:30%;
	width:80%;
    font-size:120%;
    font-weight: bold;
}