.THIS.pagination{
    background-color: #dadada;
    height: 40px;
    margin: 0;
    padding: 0px 30px 0px 24px;
}

.THIS.pagination .results{
    align-items: center;
    color: #444444;
    display: flex;
    font-size: 12px;
    line-height: 18px; 
}

.THIS.tableReports thead th:first-child {
    width: 48px;
}

.THIS.tableReports thead th:nth-child(2) {
    width: 33%;
}
.THIS.tableReports thead th:nth-child(2) >div {
    left:24px
}
.THIS.tableReports .backgroundHeader {
    background-color: #ececec;
}

.THIS.tableReports .button-arrow {
    cursor: pointer;
    font-size: 24px;
}
.THIS.tableReports .icon-arrowUp_small:before, .THIS.tableReports .icon-arrowDown_small:before {
    color:#000000;
}
.THIS.tableReports thead .slds-truncate {
    font-family: SantanderTextW05-Bold;
    font-size: 14px;
    letter-spacing: normal;
    line-height: 32px;
    text-transform: initial;
}
.THIS.tableReports tbody.fontBody  tr td:first-child {
    padding-left: 16px;
    padding-right: 8px;
}
.THIS.tableReports .slds-table th, 
.THIS.tableReports .slds-table td {
    padding: 0;
}

.THIS.tableReports .detailCard tr td {
    padding: 7px;
    padding-left: 0;
    vertical-align: initial;
}

.THIS.tableReports .detailCard tr td:nth-child(5) {
    padding-left: 8px;
}

.THIS.tableReports .detailCard tr .accountsDetails {
    padding-left: 16px;
}

.THIS.tableReports .slds-truncate {
    color: #444444;
    font-size: 12px;
}

.THIS.tableReports:before {
    border-bottom: unset;
}

.THIS.tableReports .slds-table_striped tbody tr:nth-of-type(even)>td,
.THIS.tableReports .slds-table_striped tbody tr:nth-of-type(even)>th,
.THIS.tableReports .slds-table--striped tbody tr:nth-of-type(even)>td,
.THIS.tableReports .slds-table--striped tbody tr:nth-of-type(even)>th {
    background-color: #ffffff;
}

.THIS.tableReports .detailCard .slds-table_striped tbody tr:nth-of-type(even)>td,
.THIS.tableReports .detailCard .slds-table_striped tbody tr:nth-of-type(even)>th,
.THIS.tableReports .detailCard .slds-table--striped tbody tr:nth-of-type(even)>td,
.THIS.tableReports .detailCard .slds-table--striped tbody tr:nth-of-type(even)>th {
    background-color: #f9fcfd;
}

.THIS.tableReports td {
    height: 34px;
}

.THIS.tableReports .detailCard {
    border-left: 1px;
    border-right: 1px;
    padding-left: 0px;
    padding-right: 0px;
    width: 1182px;
}

.THIS.tableReports tbody tr td {
    border: 1px solid #ececec;
    border-left: 0;
    border-right: 0;
}

.THIS tbody tr:last-child td {
    border: 0;
}

.THIS.tableReports .slds-table--header-fixed tbody tr td {
    border: 1px solid #ececec;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.THIS.tableReports .fontBody .slds-text-align_center {
    padding: 0 8px;
}

.THIS.tableReports .fontBody .slds-hint-parent td:nth-child(2) {
    padding-left: 0;
}

.THIS.tableReports .containerIcon {
    width: 48px;
}

.THIS.tableReports .icon-trash,
.THIS.tableReports .icon-edit {
    height: 24px;
    width: 24px;
}

.THIS.tableReports .icon-trash:before,
.THIS.tableReports .icon-edit:before {
    font-size: 24px;
}


.THIS.tableReports tbody tr .containerIcon:last-child {
	padding-left: 0;
}
.THIS.tableReports tbody tr .containerIcon:nth-last-child(2) {
    text-align: right;
}

.THIS.tableReports .slds-table .slds-button:focus {
    box-shadow: unset;
}

.THIS.tableReports {
    background-color: #ececec;
    overflow: hidden;
    padding-top: 32px;
    position: relative;
}

.THIS.tableReports .slds-scrollable_y {
    border: 1px solid #ececec;
    max-height: 425px;
}

.THIS div::-webkit-scrollbar {
    width: 6px;
}

.THIS div::-webkit-scrollbar-track {
    border-radius: 10px;
}

.THIS div::-webkit-scrollbar-track-piece {
    background: transparent;
}

.THIS div::-webkit-scrollbar-thumb {
    background: #dadada;
    border-radius: 10px;
}

.THIS .slds-table{
	width: 1184px;
}

.THIS.slds-table--header-fixed_container,
.THIS.slds-table_edit_container,
.THIS.slds-is-relative{
	margin-bottom: 16px;
}
.THIS tbody .slds-truncate.nodata{ 
    padding: 8px 8px 8px 24px;
    color: #a2a2a2;
    position:fixed;
    top: 0;
 }  

 .THIS .hide{
     display: none;
 }